.ht-resort {
  position: relative;
  height: 49.25rem;
  background: white;
}

.ht-resort_deco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 16.375rem;
  object-fit: cover;
}

.ht-resort_deco-mb {
  display: none;
}

.ht-resort_container {
  position: relative;
  display: flex;
  height: 100%;
}

.ht-resort_left {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ht-resort_title {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #630f3f;
  text-align: center;
  font-family: "BHN TAN - MEMORIES";
  font-size: 2.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 4.4625rem;
  letter-spacing: 0.1575rem;
}

.ht-resort_line {
  flex-shrink: 0;
  width: 39.625rem;
  height: 0.0625rem;
  opacity: 0.16;
  background: rgba(46, 46, 46, 0.5);
}

.ht-resort_list-wrapper {
  position: relative;
  width: 30.9375rem;
}

.ht-resort_list-wrapper .swiper-pagination {
  display: none;
}

.ht-resort_list-wrapper .swiper-button-prev,
.ht-resort_list-wrapper .swiper-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5625rem;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 6.25rem;
  background: rgba(99, 15, 63, 0.1);
  backdrop-filter: blur(6px);
}

.ht-resort_list-wrapper .swiper-button-prev {
  left: calc(-2.375rem - 5rem);
  right: auto;
}

.ht-resort_list-wrapper .swiper-button-next {
  right: calc(-2.375rem - 5rem);
  left: auto;
}

.ht-resort_list-wrapper .swiper-navigation-icon {
  width: 0.75rem;
  height: 0.75rem;
  stroke-width: 2px;
  stroke: #630f3f;
}

.ht-resort_list-wrapper .swiper-navigation-icon path {
  fill: #630f3f;
}

.ht-resort_list.swiper {
  padding-top: 3.5rem;
  width: 100%;
}

.ht-resort_item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ht-resort_item-title {
  color: #630f3f;
  text-align: center;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 2rem;
}

.ht-resort_item-desc {
  color: rgba(46, 46, 46, 0.8);
  text-align: center;
  font-family: "BHN TAN - MEMORIES";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.3625rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 3rem;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

.ht-resort_link.compound-avian-button {
  width: 10.0625rem;
  margin: 0 auto;
}

.ht-resort_right {
  width: 50%;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.ht-resort_thumbnails.swiper {
  width: 100%;
  height: 100%;
}

.ht-resort_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ht-resort_count {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  color: #fff;
  font-family: "BHN TAN - MEMORIES";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  border-radius: 0.25rem 0 0 0.25rem;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  
}

.ht-resort_count span {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

.ht-resort_img.mb {
  display: none;
}

@media (max-width: 639px) {
  .ht-resort {
    height: auto;
  }

  .ht-resort_deco {
    display: none;
  }

  .ht-resort_deco-mb {
    display: block;
    position: absolute;
    top: 1.15rem;
    left: 0;
    width: 100%;
    height: 7.66619rem;
    object-fit: cover;
  }

  .ht-resort_left {
    width: 100%;
  }

  .ht-resort_list-wrapper {
    width: 100%;
  }
  
  .ht-resort_list-wrapper .swiper-pagination {
    display: block;
    margin-bottom: 1.25rem;
  }

  .ht-resort_list-wrapper .swiper-button-prev,
  .ht-resort_list-wrapper .swiper-button-next {
    display: none;
  }


  .ht-resort_list.swiper {
    padding-top: 2rem;
    align-items: stretch;
  }
  
    .ht-resort_list .swiper-wrapper {
      align-items: stretch;
    }
  
  .ht-resort_item.swiper-slide {
      height: auto !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .ht-resort_line {
    display: none;
  }

  .ht-resort_title {
    width: 100%;
    color: #630f3f;
    text-align: center;
    font-family: "BHN TAN - MEMORIES";
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.09rem;
    padding: 3rem 1.25rem 1.5rem 1.25rem;
  }

  .ht-resort_item-content {
    padding: 0 1.75rem;
  }

  .ht-resort_item-title {
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    line-height: normal;
    margin-bottom: 1.3125rem;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
  }

  .ht-resort_item-desc {
    color: rgba(46, 46, 46, 0.8);
    font-size: 0.75rem;
    line-height: 1.8rem;
    letter-spacing: 0.0625rem;
    margin-bottom: 1.75rem;
  }

  .ht-resort_right {
    display: none;
  }

  .ht-resort_link.compound-avian-button {
    width: 9.0625rem;
    margin-bottom: 1.75rem;
  }

  .ht-resort_img.mb {
    display: block;
    width: 100%;
    height: 23.125rem;
    mask-image: linear-gradient(
      180deg,
      #c3c3c3 41.62%,
      rgba(151, 151, 151, 0.56) 63.97%,
      rgba(111, 111, 111, 0.17) 83.4%,
      rgba(93, 93, 93, 0) 97.97%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
  }
}
