.tour-item {
	position: relative;
	width: 25.4375rem;
	height: 30.6875rem;
	border-radius: 0.25rem;
	overflow: hidden;
}

.tour-item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(257deg, rgba(0, 0, 0, 0.00) 40.04%, #000 131.31%);
	transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
	z-index: 1;
}

.tour-item::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.37) 62.96%, rgba(0, 0, 0, 0.24) 80.13%, rgba(0, 0, 0, 0) 100%);
	height: 19.125rem;
	z-index: 1;
}

.tour-item__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.tour-item__thumbnail,
.tour-item__thumbnail img {
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.tour-item__thumbnail img {
	object-fit: cover;
}

.tour-item__content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6.4375rem 1rem 1rem 1rem;
	z-index: 2;
	transform: translateY(2.375rem);
	transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.tour-item__content-title {
	color: #fff;
	font-family: "BHN TAN - MEMORIES";
	font-size: 1.25rem;
	font-style: italic;
	font-weight: 400;
	line-height: 160%;
	letter-spacing: 0.0625rem;
	margin-bottom: 0.25rem;
}

.tour-item__content-desc {
	width: 16.6875rem;
	height: 2.625rem;
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 400;
	line-height: 150%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 1.25rem;
}

.tour-item__content-meta {
	display: flex;
	align-items: center;
	margin-bottom: 0.75rem;
	height: 2.875rem;
}

.tour-item__content-meta__item {
	max-width: 50%;
}

.tour-item__content-meta__item--leaving-from {
	margin-right: 4.375rem;
}

.tour-item__content-meta__item__label {
	display: inline-block;
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 0.25rem;
}

.tour-item__content-meta__item__value {
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 400;
	line-height: 150%;
	max-width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.tour-item__content-divider {
	width: 100%;
	margin-bottom: 0.75rem;
}

.tour-item__content-divider img {
	width: 100%;
	height: auto;
}

.tour-item__content-footer {
	padding-top: 0.375rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tour-item__content-footer__view-detail {
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
}

.tour-item__content-footer__destination {
	height: 1.7216rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tour-item__content-footer__destination-text {
	color: #fff;
	font-family: "Open Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	margin-right: 0.25rem;
}

.tour-item__content-footer__destination-icon {
	width: 0.875rem;
	height: 0.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tour-item__content-footer__destination-icon img {
	width: 100%;
	height: auto;
}

@media screen and (min-width: 1024px) {
	.tour-item:hover::before {
		transform: translateX(-25%);
	}

	.tour-item:hover .tour-item__content {
		transform: translateY(0);
	}
}

@media screen and (max-width: 639.98px) {
	.tour-item {
		width: 17.01019rem;
		height: 21.75rem;
		border-radius: 0.125rem;
	}

	.tour-item::after {
		height: 16.51488rem;
	}

	.tour-item__content {
		padding: 5.34306rem 0.75556rem 1.07938rem;
		z-index: 2;
		transform: translateY(0);
	}

	.tour-item__content-title {
		text-box-edge: cap alphabetic;
		text-box-trim: trim-both;
		font-size: 0.875rem;
		line-height: 180%;
		padding-inline: 0.5rem;
		transform: translateX(-0.5rem);
		margin-bottom: 0.5375rem;
	}

	.tour-item__content-desc {
		width: 12.375rem;
		height: 2.5rem;
		font-size: 0.75rem;
		margin-bottom: 0.65rem;
		font-size: 0.75rem;
		font-style: italic;
		font-weight: 400;
		line-height: 150%;
	}

	.tour-item__content-meta {
		position: relative;
		margin-bottom: 0.65rem;
		height: 4.3875rem;
		padding-top: 0.65rem;
		padding-bottom: 0.85rem;
	}

	.tour-item__content-meta::before,
	.tour-item__content-meta::after {
		content: "";
		position: absolute;
		left: 0;
		display: block;
		height: 0.054rem;
		width: 100%;
		background: #fff;
		opacity: 0.2;
	}

	.tour-item__content-meta::before {
		top: 0;
	}

	.tour-item__content-meta::after {
		bottom: 0;
	}

	.tour-item__content-meta__item {
		max-width: 50%;
	}

	.tour-item__content-meta__item--leaving-from {
		margin-right: 4rem;
	}

	.tour-item__content-meta__item__label {
		font-size: 0.625rem;
		line-height: 130%;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		opacity: 0.6;
		font-weight: 400;
	}

	.tour-item__content-divider {
		display: none;
	}

	.tour-item__content-footer__view-detail {
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
		padding-top: 0.10794rem;
	}

	.tour-item__content-footer__destination {
		display: none;
	}
}