.about-us {
    margin-top: 5rem;
    position: relative;
    min-height: 49.625rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.about-us__content {
    position: relative;
    z-index: 2;
    max-width: 43.25rem;
    margin: 0 auto;
}

.about-us__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    user-select: none;
}

.about-us__subtitle {
    display: inline-block;
    text-transform: uppercase;
    color: var(--text-body-60, rgba(46, 46, 46, 0.6));
    margin-bottom: 1rem;
}

.about-us__title h2 {
    margin-bottom: 2rem;
}

.about-us__title strong {
    color: #468e38;
}

.about-us__link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 2.8125rem;
    border: 1px solid var(--Text-Body-T1, #2e2e2e);
    color: var(--Text-Body-T1, #2e2e2e);
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

@media (min-width: 1024px) {
    .about-us__link:hover {
        background: var(--Test, #2e871c);
        color: #fff;
        border-color: var(--Test, #2e871c);
    }
}

.about-us__overlay {
    position: absolute;
    z-index: 1;
    top: 21.81rem;
    left: 0;
    width: 100%;
    height: 40.625rem;
    background: linear-gradient(
        180deg,
        rgba(249, 244, 238, 0) 52.69%,
        rgba(249, 244, 238, 0.37) 65.4%,
        rgba(249, 244, 238, 0.73) 69.03%,
        #f9f4ee 76.92%
    );
    user-select: none;
}

.about-us__overlay--2 {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 35.12rem;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(249, 244, 238, 0) 42.4%,
        #f9f4ee 78.31%
    );
    height: 17.375rem;
}

.about-us__cloud-overlay,
.about-us__cloud-overlay--1 {
    position: absolute;
    z-index: 1;
    top: 39.06rem;
    left: 0;
    width: 100%;
    height: 21.06788rem;
    user-select: none;
}
.about-us__cloud-overlay--1 {
    height: 22.375rem;
    top: 37.19rem;
}

.about-us__clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-us__cloud {
    position: absolute;
    height: 19.13369rem;
    width: auto;
    user-select: none;
}
.about-us__cloud--1 {
    top: 38.21rem;
    left: -15.85rem;
    width: 52.625rem;
    height: 19.13369rem;
    transform: rotate(10.606deg);
    opacity: 0.57;
}

.about-us__cloud--2 {
    top: 33.15rem;
    left: -22.35rem;
    width: 52.625rem;
    height: 19.13369rem;
    transform: rotate(10.606deg);
    opacity: 0.57;
}

.about-us__cloud--3 {
    top: 43.79rem;
    left: 28.57rem;
    width: 43.48694rem;
    height: 15.81119rem;
    transform: rotate(3.791deg);
    opacity: 0.7;
}

.about-us__cloud--4,
.about-us__cloud--5 {
    top: 30.43rem;
    right: -30.41rem;
    width: 65.609rem;
    height: 23.85444rem;
    transform: rotate(-10.409deg);
    opacity: 0.57;
}

@media (max-width: 639.98px) {
    .about-us__content {
        max-width: 100%;
        padding: 0 1rem;
    }
    .about-us__subtitle {
        margin-bottom: 0.5rem;
    }
    .about-us {
        margin-top: 4.18rem;
        min-height: 29.625rem;
    }
    .about-us__background {
        width: 100%;
    }
    .about-us__clouds {
        display: none;
    }
    .about-us__title h2 {
        margin-bottom: 1.5rem;
    }
}
