#about-us-process {
  padding: 9.38rem 0 7.5rem;
}

.section-process__container {
  width: 100%;
  max-width: 91.5rem;
  margin: 0 auto;
}

.section-process__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.625rem 0 1.25rem;
  margin-bottom: 2.625rem;
}

.section-process__heading {
  display: flex;
  flex-direction: column;
}

.section-process__subtitle {
  color: #680103;
  font-family: Phudu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 1.5rem;
}

.section-process__title {
  color: #680103;
  text-align: center;
  font-family: Phudu;
  font-size: 3.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.section-process__action-mobile {
  display: none;
}

.section-process__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8.64rem;
}

.section-process__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1.125rem;
  border-left: 0.0625rem solid rgba(29, 29, 29, 0.06);
}

.section-process__item:first-child {
  padding-left: 0;
  border-left: none;
}

.section-process__icon {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1.75rem;
}

.section-process__step {
  color: #680103;
  font-family: "SF Pro Display";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0.875rem;
}

.section-process__item-title {
  width: 13.25rem;
  color: #680103;
  font-family: Phudu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.75rem;
}

.section-process__item-description {
  width: 14.1875rem;
  color: rgba(29, 29, 29, 0.8);
  font-family: "SF Pro Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 639px) {
  #about-us-process {
    padding: 4.25rem 0.75rem;
  }

  .section-process__header {
    justify-content: center;
    align-items: start;
    padding: 0;
    margin-bottom: 2rem;
  }

  .section-process__subtitle {
    text-align: center;
    font-size: 0.8125rem;
    line-height: 110%;
    margin-bottom: 0.5rem;
  }

  .section-process__title {
    font-size: 1.75rem;
  }

  .section-process__action {
    display: none;
  }

  .section-process__action-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .section-process__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .section-process__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0;
    border-left: none;
    padding-bottom: 1.5rem;
    border-bottom: 0.0625rem solid rgba(29, 29, 29, 0.06);
    margin-bottom: 1.5rem;
  }

  .section-process__item:first-child {
    padding-left: 0;
    border-bottom: 0.0625rem solid rgba(29, 29, 29, 0.06);
  }

  .section-process__item:last-child {
    margin-bottom: 0;
  }

  .section-process__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.75rem;
    height: 2.75rem;
    margin-bottom: 0;
  }

  .section-process__step {
    width: 18.3125rem;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  .section-process__item-title {
    width: 18.3125rem;
    font-size: 1.125rem;
  }

  .section-process__item-description {
    width: 100%;
    font-size: 0.875rem;
  }
}
