/* Font trips sans */
@font-face {
  font-family: "Trip Sans";
  src: url("Trip-Sans-Font/trip-sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Trip Sans";
  src: url("Trip-Sans-Font/trip-sans-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Trip Sans";
  src: url("Trip-Sans-Font/trip-sans-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Trip Sans";
  src: url("Trip-Sans-Font/trip-sans-ultra.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  display: swap;
}

/* Font BHN TAN MEMORIES */

@font-face {
  font-family: "BHN TAN - MEMORIES";
  src: url("BHN-TAN-MEMORIES-Font/BHN-TAN-MEMORIES-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "BHN TAN - MEMORIES";
  src: url("BHN-TAN-MEMORIES-Font/BHN-TAN-MEMORIES-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  display: swap;
}
