.humanitarian-projects {
    position: relative;
    background: #285422;
    min-height: 49.3125rem;
    padding-top: 12rem;
    overflow: hidden;
}
.humanitarian-projects__mask {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 10;
    user-select: none;
}

.humanitarian-projects__mask--1 {
    top: 0;
}

.humanitarian-projects__mask--2 {
    bottom: -1px;
}

.humanitarian-projects__mask--3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    mix-blend-mode: multiply;
}

.humanitarian-projects__mask--ellipse {
    top: 0;
    left: 0;
    width: 101.5625rem;
    height: 4.125rem;
    border-radius: 101.5625rem;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.6);
    filter: blur(29.149999618530273px);
}

.humanitarian-projects__container {
    position: relative;
    max-width: 44.9375rem;
    margin: 0 auto;
    text-align: center;
    z-index: 11;
}
.humanitarian-projects__title {
    color: var(--Text-Title-White, #fff);
    text-align: center;
    margin-bottom: 1.5rem;
}

.humanitarian-projects__description {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    margin-bottom: 2rem;
}

.humanitarian-projects__link {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 2.8125rem;
    border: 1px solid #fff;
    color: var(--Text-Title-White, #fff);
    transition: background-color 0.25s ease, color 0.25s ease,
        border-color 0.25s ease;
}
.humanitarian-projects__image {
    position: absolute;
    user-select: none;
}

.humanitarian-projects__image .humanitarian-projects__image-main {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.39125rem;
    z-index: 1;
}

.humanitarian-projects__image-deco {
    position: absolute;
}

.humanitarian-projects__image--1 {
    overflow: hidden;
    top: -9.58rem;
    left: -3.38rem;
    width: 23.65275rem;
    height: 20.95038rem;
    transform: rotate(21.766deg);
    z-index: 1;
}

.humanitarian-projects__image-deco--2 {
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: auto;
}

.humanitarian-projects__image--2 {
    top: 9.38rem;
    left: -1.4rem;
    width: 16.734rem;
    height: 22.26806rem;
    border-radius: 0.39531rem;
    z-index: 2;
}

.humanitarian-projects__image--3 {
    top: 24.75rem;
    left: -10.61rem;
    width: 22.51256rem;
    height: 24.53294rem;
    transform: rotate(-20.848deg);
    z-index: 3;
}
.humanitarian-projects__image-deco--3 {
    top: 0;
    right: -6rem;
    width: auto;
    height: 19.08813rem;
    transform: rotate(23deg);
}
.humanitarian-projects__image--4 {
    top: 32.78rem;
    left: 7.28rem;
    width: 43.02694rem;
    height: 26.97406rem;
    transform: rotate(5.13deg);
    z-index: 4;
}
.humanitarian-projects__image-deco--4 {
    top: 0;
    left: -2.5rem;
    height: 19.08813rem;
    transform: rotate(-4deg);
    width: auto;
}
.humanitarian-projects__image--5 {
    top: 35.25rem;
    right: 20.33rem;
    width: 36.09881rem;
    height: 21.60138rem;
    transform: rotate(-5.958deg);
    z-index: 5;
}

.humanitarian-projects__image-deco--5 {
    top: 0;
    left: -2.1rem;
    height: 15.54713rem;
    transform: rotate(7deg);
    width: auto;
}

.humanitarian-projects__image--6 {
    top: 30.47rem;
    right: -5.72rem;
    width: 27.43463rem;
    height: 27.56619rem;
    transform: rotate(-7.441deg);
    z-index: 6;
}

.humanitarian-projects__image-deco--6 {
    top: 0;
    left: -2.2rem;
    height: 16.61238rem;
    transform: rotate(8deg);
    width: auto;
}

.humanitarian-projects__image--7 {
    top: 6.38rem;
    right: -5.69rem;
    width: 18.99669rem;
    height: 25.93038rem;
    z-index: 7;
}

.humanitarian-projects__image-deco--7 {
    bottom: -1rem;
    left: 0;
    width: 12.727rem;
    height: auto;
    transform: rotate(-1deg);
}

.humanitarian-projects__image--8 {
    top: -13.07rem;
    right: -8.9rem;
    width: 30.24913rem;
    height: 20.86806rem;
    transform: rotate(17.889deg);
    z-index: 8;
}

.humanitarian-projects__image-deco--8 {
    bottom: -6rem;
    left: 0;
    width: 27.44475rem;
    height: auto;
    transform: rotate(-17deg);
}
@media (min-width: 1024px) {
    .humanitarian-projects__link:hover {
        background: var(--Test, #2e871c);
        border-color: var(--Test, #2e871c);
    }
}

@media (max-width: 639.98px) {
    .humanitarian-projects__image--1,
    .humanitarian-projects__image--2,
    .humanitarian-projects__image--8 {
        display: none;
    }
    .humanitarian-projects {
        min-height: 32.32263rem;
    }
    .humanitarian-projects {
        padding: 3.6rem 1rem 0;
    }
    .humanitarian-projects__image--3 {
        top: 18.85rem;
        left: -5.14rem;
        width: 8.36963rem;
        height: 9.12075rem;
        transform: rotate(-20.848deg);
    }
    .humanitarian-projects__image-deco--3 {
        height: 8.79975rem;
        right: -2.5rem;
    }
    .humanitarian-projects__image--4 {
        top: 25.75rem;
        left: -2.66rem;
        width: 13.6385rem;
        height: 8.55013rem;
        transform: rotate(5.13deg);
    }
    .humanitarian-projects__image--5 {
        top: 26.54rem;
        right: 3.08rem;
        width: 11.44244rem;
        height: 6.84713rem;
        transform: rotate(-5.958deg);
    }
    .humanitarian-projects__image--6 {
        top: 25.02rem;
        right: -5.18rem;
        width: 8.69613rem;
        height: 8.73781rem;
        transform: rotate(-7.441deg);
    }
    .humanitarian-projects__image--7 {
        top: 18.43rem;
        right: -3.39rem;
        width: 5.7045rem;
        height: 7.58531rem;
        transform: rotate(15deg);
    }
    .humanitarian-projects__image .humanitarian-projects__image-main {
        border-radius: 0.12513rem;
    }
    .humanitarian-projects__mask--1 {
        width: auto;
        height: 2.50263rem;
    }
    .humanitarian-projects__mask--2 {
        width: auto;
        height: 2.36219rem;
    }
    .humanitarian-projects__mask--ellipse {
        left: 50%;
        transform: translateX(-50%);
        width: 45.69719rem;
        height: 1.856rem;
        border-radius: 45.69719rem;
        opacity: 0.4;
        background: #000;
        filter: blur(8.998833656311035px);
    }
    .humanitarian-projects__mask--ellipse-2 {
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50.92138rem;
        height: 2.06819rem;
        border-radius: 50.92138rem;
        opacity: 0.4;
        background: #000;
        filter: blur(10.027597427368164px);
    }

    .humanitarian-projects__description {
        font-size: 0.88038rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.32056rem */
    }
    .humanitarian-projects__link {
        border-radius: 2.82981rem;
        border: 1.006px solid #fff;
        padding: 1.00613rem 1.50925rem;
        font-size: 1.00613rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.50925rem */
    }
}
