.related .customized-trip__swiper__nav {
    top: 11.31rem;
}
.related .customized-trip__content {
    max-width: 100%;
    padding: 0;
}
.related .customized-trip__swiper__nav {
    width: 90.5rem;
}
.related {
    margin-top: 2.5rem;
}
.related__container {
    max-width: 81.25rem;
    margin: 0 auto;
    padding: 6.25rem 0rem;
}
.related__body {
    position: relative;
}
.related__title {
    color: var(--Text-Body-T1, #2e2e2e);
    font-family: "Clash Grotesk";
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 3.3rem */
    letter-spacing: -0.0275rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 639.98px) {
    .customized-trip__card-image {
        height: 12.8125rem;
    }
    .customized-trip__card-button {
        display: none;
    }
    .customized-trip__card-location {
        margin-bottom: 0;
    }
    .customized-trip__card-location span {
        font-size: 0.625rem;
    }
    .related {
        margin-top: 2rem;
    }
    .related__container {
        max-width: 100%;
        padding: 0 0 2rem;
    }
    .related__header {
        padding: 0 1rem;
    }
    .related__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 120%; /* 1.8rem */
        margin-bottom: 0.5rem;
    }
}
