@import url("../section-banner/assets/styles.css");
@import url("../section-horizon-vietnam/assets/styles.css");
@import url("../section-about-us/assets/styles.css");
@import url("../section-customized-trip/assets/styles.css");
@import url("../section-discover/assets/styles.css");
@import url("../section-starts-with/assets/styles.css");
@import url("../section-humanitarian-projects/assets/styles.css");
@import url("../section-testimonials/assets/styles.css");
@import url("../section-testimonials-2nd/assets/styles.css");
@import url("../section-travel-review/assets/styles.css");
@import url("../section-faqs/assets/styles.css");

main {
    background: #f4f2ee;
    overflow: hidden;
}
.page-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-background img {
    width: 100%;
    height: auto;
}
