.testimonial {
    padding: 3.75rem 0rem;
}
.testimonial__header {
    max-width: 48.0625rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.testimonial__title,
.testimonial__title * {
    color: var(--Text-Body-T1, #2e2e2e);
    text-align: center;
}

.testimonial__title strong {
    color: var(--Test, #2e871c);
}

.testimonial__description {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    text-align: center;
    margin-bottom: 0;
}

.testimonial__item {
    position: relative;
}
.testimonial__list {
    max-width: 81.3rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
.testimonial__item-background {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 8px 18px rgba(163, 163, 163, 0.1))
        drop-shadow(0px 35px 35px rgba(163, 163, 163, 0.09));
}
.testimonial__item-swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
}
.testimonial__item-content {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 20.375rem;
    height: 100%;
    padding: 1rem 1.375rem;
}
.testimonial__item-swiper-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial__item-destination,
.testimonial__item-destination-item {
    display: flex;
    align-items: center;
}

.testimonial__item-destination {
    margin-bottom: 0.75rem;
}

.testimonial__item-title {
    color: var(--Text-Body-T1, #2e2e2e);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 120%; /* 1.65rem */
    letter-spacing: -0.0275rem;
    margin-bottom: 0.38rem;
}
.testimonial__item-subtitle {
    color: var(--text-body-60, rgba(46, 46, 46, 0.6));
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    margin-bottom: 0.38rem;
}
.testimonial__item-destination-text {
    color: var(--text-body-60, rgba(46, 46, 46, 0.6));
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%; /* 1.125rem */
    margin-bottom: 0;
}
.testimonial__item-destination-icon {
    width: 0.875rem;
    height: 0.875rem;
    object-fit: contain;
    margin-right: 0.25rem;
}
.testimonial__item-destination-item:first-child {
    margin-right: 0.75rem;
}
.testimonial__item-review {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    /* PC/BODY/16R */
    font-size: 1rem;
    line-height: 150%; /* 1.5rem */

    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.testimonial__item-swiper {
    width: 16.75rem;
    height: 100%;
    border-radius: 0.83563rem;
    overflow: hidden;
}
.testimonial__item-swiper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(
        180deg,
        rgba(38, 0, 0, 0) 49.8%,
        rgba(18, 24, 4, 0.54) 65%,
        rgba(1, 44, 7, 0.62) 95%
    );
}
.testimonial__item-swiper-pagination {
    position: absolute;
    z-index: 1;
    --swiper-pagination-bottom: 1.61rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0 1.68rem;
}

.testimonial__item-swiper-pagination .swiper-pagination-bullet {
    --swiper-pagination-color: var(--Text-Body-Inverse, #fff);
    --swiper-pagination-bullet-border-radius: 0.45094rem;
    --swiper-pagination-bullet-height: 0.12356rem;
    --swiper-pagination-bullet-inactive-color: var(--Text-Body-Inverse, #fff);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-horizontal-gap: 0.19rem;
    max-width: 1.86rem;
    width: 100%;
    box-shadow: 0px 6.184px 21.396px 0px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.testimonial__item-swiper-navigation {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 1.68rem;
    z-index: 2;
}

.testimonial__item-swiper-navigation button {
    border: none;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.17188rem;
    background: #fffaf3;
    box-shadow: 0.937px 1.875px 9.375px 0.937px rgba(205, 204, 218, 0.4);
}
.testimonial__item-swiper-navigation button img {
    width: 0.81019rem;
    height: 0.77163rem;
    object-fit: contain;
}

.testimonial__item-swiper-navigation button.swiper-button-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.testimonial__item-swiper-prev img {
    transform: rotate(180deg);
}

.testimonial-popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}
.testimonial-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    width: 75rem;
    height: 39.0625rem;
    padding: 6.25rem 5rem 0rem 5rem;
    border-radius: 2rem;
    background: linear-gradient(
            0deg,
            rgba(255, 246, 234, 0.5) 0%,
            rgba(255, 246, 234, 0.5) 100%
        ),
        #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
        transform 0.3s ease-in-out;
}

.testimonial-popup.active,
.testimonial-popup.active + .testimonial-popup__overlay {
    opacity: 1;
    visibility: visible;
}

.testimonial-popup__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    box-shadow: 0px 5.714px 28.571px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    padding: 0.65rem;
}
.testimonial-popup__close img {
    width: 100%;
    height: auto;
}
.testimonial-popup__content {
    display: flex;
    height: 100%;
}
.testimonial-popup__sidebar {
    width: 21.25rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background: #fff;
    align-self: flex-start;
}
.testimonial-popup__body {
    flex: 1;
    margin-right: 2.5rem;
    overflow: auto;
    padding-bottom: 5rem;
}

.testimonial-popup__body h3 {
    color: #32a868;
    font-family: Fraunces;
    font-size: 2.625rem;
    font-style: italic;
    font-weight: 700;
    line-height: 120%; /* 3.15rem */
}

.testimonial-popup__body p {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));

    /* PC/BODY/16R */
    font-family: Matter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

.testimonial-popup__body img {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.testimonial-popup__sidebar-title {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.35rem */
    margin-bottom: 0.25rem;
}
.testimonial-popup__sidebar-subtitle {
    color: var(--Foundation-Green-Normal, #45af2a);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.225rem */
    margin-bottom: 1.5rem;
}

.testimonial-popup__sidebar-item {
    padding: 1.25rem;
    border-radius: 0.75rem;
    background: #f7faf6;
}

.testimonial-popup__sidebar-item:not(:first-child) {
    margin-top: 1.5rem;
}

.testimonial-popup__sidebar-item--label-1,
.testimonial-popup__sidebar-item--label-2 {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 1.225rem */
}
.testimonial-popup__sidebar-item--content-1 {
    border-bottom: 1px solid rgba(96, 94, 91, 0.04);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
.testimonial-popup__sidebar-item--content-1,
.testimonial-popup__sidebar-item--content-2 {
    color: var(--Text-Body-T1, #2e2e2e);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 1.5rem */
}

.testimonial-popup__sidebar-item--content-2 {
    margin-bottom: 0;
}

@media (max-width: 639.98px) {
    .testimonial__list {
        grid-template-columns: 1fr;
    }
    .testimonial__item-swiper-container {
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
        width: 100%;
        height: auto;
    }
    .testimonial {
        padding: 3rem 1rem;
    }
    .testimonial__item-swiper {
        width: 100%;
        height: 13.65075rem;
    }
    .testimonial__description {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 140%; /* 1.225rem */
    }
    .testimonial__title {
        margin-bottom: 1rem;
    }
    .testimonial__header {
        margin-bottom: 1.5rem;
    }
    .testimonial__item-content {
        width: 100%;
        height: 15rem;
        padding: 1.69rem 1.25rem 1rem 1.56rem;
    }
    .testimonial__item-review {
        font-size: 0.875rem;
        line-height: 150%; /* 1.3125rem */
    }
    .testimonial__item-subtitle {
        font-weight: 400;
    }
    .testimonial-popup {
        top: 0;
        left: 0;
        transform: translate(100%, 0);
        width: 100%;
        height: 100%;
        padding: 1rem;
        padding-bottom: 0;
        border-radius: 2rem;
        overflow: hidden;
    }
    .testimonial-popup.active {
        transform: translate(0, 0);
    }
    .testimonial-popup__content {
        padding-top: 3.5625rem;
        flex-direction: column-reverse;
        overflow: auto;
    }
    .testimonial-popup__header {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5rem 1rem 0.75rem 1.5rem;
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        background: #fff;
        height: 3.5625rem;

        /* Pop up mb */
        box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.08);
    }
    .testimonial-popup__header-line {
        display: block;
        width: 3rem;
        height: 2px;
        background: #8f8f8f;
        margin-bottom: 1rem;
    }
    .testimonial-popup__close:not(.testimonial-popup__close--mb) {
        display: none;
    }
    .testimonial-popup__close--mb {
        top: 1.38rem;
        left: 1.25rem;
        right: auto;
        bottom: auto;
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.43238rem 0.25519rem 0.43244rem 0.25513rem;
        background: transparent;
        box-shadow: none;
    }
    .testimonial-popup__sidebar {
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
    }
    .testimonial-popup__sidebar-title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.2rem */
        margin-bottom: 0.25rem;
    }
    .testimonial-popup__sidebar-subtitle {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.05rem */
        margin-bottom: 1rem;
    }
    .testimonial-popup__sidebar-item {
        padding: 0.75rem 1.25rem;
        border-radius: 0.75rem;
    }
    .testimonial-popup__sidebar-item--label-1,
    .testimonial-popup__sidebar-item--label-2 {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.05rem */
        margin-bottom: 0.25rem;
    }
    .testimonial-popup__sidebar-item--content-1,
    .testimonial-popup__sidebar-item--content-2 {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.3125rem */
    }
    .testimonial-popup__sidebar-item:not(:first-child) {
        margin-top: 1rem;
    }
    .testimonial-popup__body {
        margin-top: 1.5rem;
        margin-right: 0;
        padding-bottom: 2rem;
        overflow: unset;
    }
    .testimonial-popup__body h3 {
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 700;
        line-height: 120%; /* 1.8rem */
    }
    .testimonial-popup__body p {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */
    }
}
