.travel-review {
    padding-top: 6.81rem;
    background: #fff;
}
.travel-review__title {
    color: var(--Text-Body-T1, #2e2e2e);
    text-align: center;
    margin-bottom: 1.65rem;
}
.travel-review__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.travel-review_item {
    height: 5.6rem;
    width: auto;
}
.travel-review_item:not(:first-child) {
    margin-left: 4.95rem;
}
.travel-review_item__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 639.98px) {
    .travel-review {
        padding-top: 2.67rem;
        background: transparent;
    }
    .travel-review__title {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 120%; /* 1.5rem */
    }
    .travel-review__container {
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 38px;
    }
    .travel-review_item {
        height: 3.58775rem;
    }

    .travel-review_item:not(:first-child) {
        margin-left: 0;
    }
}
