.horizon-vietnam {
    margin-top: 6.06rem;
    display: flex;
    padding: 2.57rem 0 0;
}
.horizon-vietnam__images {
    position: relative;
    width: 35.1875rem;
    height: 33.14244rem;
    margin-left: 9.37rem;
    margin-right: 6.69rem;
}
.horizon-vietnam__content {
    flex: 1;
    width: 48.625rem;
}

.horizon-vietnam__image {
    position: absolute;
}
.horizon-vietnam__image .horizon-vietnam__image-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.horizon-vietnam__image .horizon-vietnam__shadow {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
.horizon-vietnam__image .horizon-vietnam__image-image {
    border-top: 5.774px solid var(--ColorStrok-stlye, #fff);
    border-right: 5.774px solid var(--ColorStrok-stlye, #fff);
    border-bottom: 14.436px solid var(--ColorStrok-stlye, #fff);
    border-left: 5.774px solid var(--ColorStrok-stlye, #fff);
}

.horizon-vietnam__image--1 {
    top: 0;
    left: 0;
    width: 18.2855rem;
    height: 16.05994rem;
}

.horizon-vietnam__image--2 {
    top: 1.86rem;
    right: 0;
    width: 15.81931rem;
    height: 11.42844rem;
}
.horizon-vietnam__image--3 {
    left: 2.77rem;
    bottom: 1.56rem;
    width: 15.51856rem;
    height: 14.31563rem;
}
.horizon-vietnam__image--4 {
    right: 0;
    bottom: 0;
    width: 15.81931rem;
    height: 18.64638rem;
}

.horizon-vietnam__image--1 .horizon-vietnam__shadow,
.horizon-vietnam__image--4 .horizon-vietnam__shadow {
    bottom: -1rem;
}
.horizon-vietnam__image--2 .horizon-vietnam__shadow,
.horizon-vietnam__image--3 .horizon-vietnam__shadow {
    bottom: -0.8rem;
}

.horizon-vietnam__subtitle {
    color: var(--text-body-60, rgba(46, 46, 46, 0.6));
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: inline-block;
}
.horizon-vietnam__title {
    margin-bottom: 2rem;
}
.horizon-vietnam__title h2 {
    margin-bottom: 0;
}
.horizon-vietnam__title strong {
    color: #468e38;
}
.horizon-vietnam__description {
    margin-bottom: 2.81rem;
}

.horizon-vietnam__description,
.horizon-vietnam__title {
    max-width: 40.375rem;
}

.horizon-vietnam__swiper-title {
    color: var(--Foundation-Green-Darker, #183d0f);
    font-family: Matter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.2rem */
    margin-bottom: 0.81rem;
}
.horizon-vietnam__swiper-container {
    margin-bottom: 1rem;
}
.horizon-vietnam__card {
    cursor: pointer;
    position: relative;
    border-radius: 0.68656rem;
    height: 14.875rem;
    overflow: hidden;
}
.horizon-vietnam__card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.68656rem;
    object-fit: cover;
    transition: transform 0.3s;
}

.horizon-vietnam__card:hover .horizon-vietnam__card-img {
    transform: scale(1.1);
}

.horizon-vietnam__card-overlay {
    border: 3.662px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.68656rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.horizon-vietnam__card:hover .horizon-vietnam__card-overlay::after {
    opacity: 0;
}

.horizon-vietnam__card-overlay::after {
    content: "";
    position: absolute;
    border-radius: 0.68656rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000 24.84%, rgba(0, 0, 0, 0) 61.61%);
    opacity: 0.3;
    transition: opacity 0.3s;
}
.horizon-vietnam__card-content {
    position: relative;
    padding: 1.37rem 1rem;
}
.horizon-vietnam__card-location {
    display: inline-block;
    color: var(--Text-Body-T1, #2e2e2e);
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 0.75rem;
    background: #fff;
    margin-bottom: 0.46rem;
}
.horizon-vietnam__card-title {
    color: #fff;
    margin-bottom: 0.46rem;
}
.horizon-vietnam__card-visiter {
    display: inline-block;
    color: #fff;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0125rem;
    text-transform: uppercase;
}
.horizon-vietnam__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.horizon-vietnam__swiper-prev,
.horizon-vietnam__swiper-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    width: 2.93825rem;
    height: 2.93825rem;
    border-radius: 1.83638rem;
    background: #fffaf3;
    box-shadow: 1.469px 2.938px 14.691px 1.469px rgba(205, 204, 218, 0.4);
}
.horizon-vietnam__swiper-prev {
    margin-right: 0.5rem;
}
.horizon-vietnam__swiper-prev img {
    transform: rotate(180deg);
}
.horizon-vietnam__swiper-prev.swiper-button-disabled,
.horizon-vietnam__swiper-next.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.horizon-vietnam__swiper-prev img,
.horizon-vietnam__swiper-next img {
    width: 1.25rem;
    height: auto;
}

@media (max-width: 639.98px) {
    .horizon-vietnam__description,
    .horizon-vietnam__title {
        max-width: 100%;
    }
    .horizon-vietnam {
        flex-direction: column;
        margin-top: 2.5rem;
    }
    .horizon-vietnam__images {
        width: 100%;
        margin: auto;
        max-width: 20.25rem;
        height: 19.07306rem;
    }
    .horizon-vietnam__content {
        width: 100%;
        margin-top: 2rem;
    }
    .horizon-vietnam__image--1 {
        width: 10.52306rem;
        height: 9.24231rem;
    }
    .horizon-vietnam__image--2 {
        top: 1.07rem;
        width: 9.10388rem;
        height: 6.57694rem;
    }
    .horizon-vietnam__image--3 {
        left: 1.59rem;
        bottom: 0.9rem;
        width: 8.93075rem;
        height: 8.23844rem;
    }
    .horizon-vietnam__image--4 {
        width: 9.10388rem;
        height: 10.73075rem;
    }
    .horizon-vietnam__image .horizon-vietnam__image-image {
        border-top: 3.323px solid #fff;
        border-right: 3.323px solid #fff;
        border-bottom: 8.308px solid #fff;
        border-left: 3.323px solid #fff;
    }

    .horizon-vietnam__image--1 .horizon-vietnam__shadow,
    .horizon-vietnam__image--4 .horizon-vietnam__shadow {
        bottom: -0.5rem;
    }

    .horizon-vietnam__image--2 .horizon-vietnam__shadow,
    .horizon-vietnam__image--3 .horizon-vietnam__shadow {
        bottom: -0.4rem;
    }

    .horizon-vietnam__content > *:not(.horizon-vietnam__swiper-container) {
        padding: 0 1rem;
    }

    .horizon-vietnam__subtitle {
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 0.9rem */
        letter-spacing: 0.04169rem;
        margin-bottom: 0.5rem;
    }
    .horizon-vietnam__title {
        margin-bottom: 1rem;
    }
    .horizon-vietnam__title h2,
    .horizon-vietnam__title strong {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 1.8rem */
    }
    .horizon-vietnam__description {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.225rem */
    }
    .horizon-vietnam__swiper-nav {
        display: none;
    }
    .horizon-vietnam__swiper-title {
        margin-bottom: 1rem;
    }
    .horizon-vietnam__swiper-container {
        margin-bottom: 0;
    }
}
