#banner {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

#banner .banner__overlay-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(15, 15, 15, 0.30) 0%, rgba(152, 152, 152, 0.00) 64.28%);
	pointer-events: none;
}

#banner .banner__overlay-2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 12.25rem;
	width: 100%;
	background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
	pointer-events: none;
}

#banner .banner__image--pc {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#banner .banner__content {
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

#banner .banner__title {
	color: var(--White-100, #FFF);
	text-align: center;
	text-shadow: 0 4px 34.8px #000;
	font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
	font-size: 2.25rem;
	font-style: italic;
	font-weight: 400;
	line-height: 180%;
	letter-spacing: 0.135rem;
}

#banner .banner__discover {
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#banner .banner__discover-icon {
	width: 2.25rem;
	height: 0.8125rem;
	margin-right: 0.25rem;
}

#banner .banner__discover-text {
	color: var(--White-80, rgba(255, 255, 255, 0.80));

	font-family: var(--Body---Capture---Button, "Open Sans");
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	transition: all 0.3s ease-out;
}

#banner .banner__discover:hover .banner__discover-text {
	color: var(--White-100, #FFF);
}

#banner .banner__where-is-this {
	position: absolute;
	bottom: 2.0625rem;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.875rem;
	padding: 0.75rem 0.5rem 0.5625rem 0.625rem;
	border-radius: 6.25rem 0 0 6.25rem;
	background: rgba(0, 0, 0, 0.30);
	transition: all 0.3s ease-out;
	transform: translateX(4.5rem);
}

#banner .banner__where-is-this:hover {
	transform: translateX(0);
}

#banner .banner__where-is-this-icon {
	width: 2.5rem;
	height: auto;
	transform: translateY(-0.125rem);
}

#banner .banner_line {
	width: 0.0625rem;
	height: 2.5625rem;
	background: rgba(255, 255, 255, 0.20);
	margin-left: 0.4125rem;
	margin-right: 0.725rem;
}

#banner .banner__where-is-this-text {
	color: var(--White-100, #FFF);

	font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 400;
	line-height: 220%;
	letter-spacing: 0.0625rem;
	transform: translateY(1.35rem);
	opacity: 1;
	transition: all 0.3s ease-out;
}

#banner .banner__where-is-this:hover .banner__where-is-this-text {
	opacity: 0;
	transform: translateY(0);
}

#banner .banner__where-is-this-title {
	color: var(--White-100, #FFF);

	font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
	font-size: 0.875rem;
	font-style: italic;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.0625rem;
	transform: translateY(1.55rem);
	opacity: 0;
	transition: all 0.3s ease-out;
}

#banner .banner__where-is-this:hover .banner__where-is-this-title {
	opacity: 1;
	transform: translateY(-0.875rem);
}

#banner .banner__where-is-this:hover .banner__where-is-this-link-container {
	opacity: 1;
	transform: translateY(-0.875rem);
}

#banner .banner__where-is-this-link-container {
	display: flex;
	align-items: center;
	opacity: 0;
	transform: translateY(1rem);
	transition: all 0.3s ease-out;
}

#banner .banner__where-is-this-link {
	color: var(--White-80, rgba(255, 255, 255, 0.80));

	font-family: var(--Body---Capture---Button, "Open Sans");
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

#banner .banner__where-is-this-arrow {
	width: 0.875rem;
	height: 0.875rem;
	margin-left: 0.25rem;
	margin-top: 0.25em;
}

#banner .banner__image--mb {
	display: none;
}

@media screen and (max-width: 639.98px) {
	#banner {
		height: 32.625rem;
	}

	#banner .banner__image--mb {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		mask-image: linear-gradient(180deg, rgba(249, 247, 245, 0.02) -43.11%, rgba(249, 247, 245, 0.02) -42.67%, #F9F7F5 -7.33%, #F9F7F5 48.89%, #F9F7F5 64.12%, rgba(249, 247, 245, 0.52) 79.73%, rgba(249, 247, 245, 0.00) 94.23%);
		-webkit-mask-image: linear-gradient(180deg, rgba(249, 247, 245, 0.02) -43.11%, rgba(249, 247, 245, 0.02) -42.67%, #F9F7F5 -7.33%, #F9F7F5 48.89%, #F9F7F5 64.12%, rgba(249, 247, 245, 0.52) 79.73%, rgba(249, 247, 245, 0.00) 94.23%);
	}

	#banner .banner__image--pc {
		display: none;
	}

	#banner .banner__overlay-1 {
		height: 100%;
		width: 100%;
		opacity: 0.2;
		background: var(--Gradient-banner, linear-gradient(180deg, #000 21.23%, rgba(0, 0, 0, 0.00) 57.2%));
	}

	#banner .banner__overlay-2 {
		display: none;
	}

	#banner .banner__discover {
		display: none;
	}

	#banner .banner__title {
		color: var(--White-100, #FFF);
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

		font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
		font-size: 1.375rem;
		font-style: italic;
		font-weight: 400;
		line-height: 120%;
		letter-spacing: 0.0825rem;
		width: 16rem;
	}

	#banner .banner__where-is-this-icon,
	#banner .banner_line {
		display: none;
	}

	#banner .banner__where-is-this {
		display: inline-flex;
		padding: 0.75rem 0.625rem 0.5625rem 0.9375rem;
		align-items: center;
		height: 2.75rem;
		transform: translateX(4.325rem);
		bottom: 5.625rem;
	}

	#banner .banner__where-is-this-text {
		color: var(--White-100, #FFF);

		/* MB/12/12 - italic - MB */
		font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
		font-size: 0.75rem;
		font-style: italic;
		font-weight: 400;
		line-height: 140%;
		/* 1.8rem */
		letter-spacing: 0.0625rem;
		transform: translateY(1.175rem);
	}

	#banner .banner__where-is-this-title {
		color: var(--White-100, #FFF);

		/* MB/12/12 - italic - MB */
		font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
		font-size: 0.75rem;
		font-style: italic;
		font-weight: 400;
		line-height: 140%;
		/* 1.8rem */
		letter-spacing: 0.0625rem;
	}

	#banner .banner__where-is-this-link {
		color: var(--White-80, rgba(255, 255, 255, 0.80));

		font-family: var(--Body---Capture---Button, "Open Sans");
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;
	}

	#banner .banner__where-is-this:hover .banner__where-is-this-title {
		transform: translateY(-0.5rem);
	}

	#banner .banner__where-is-this:hover .banner__where-is-this-link-container {
		transform: translateY(-0.5rem);
	}

	#banner .banner__where-is-this:hover {
		height: 3.875rem;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#banner {
		height: 49.25rem;
	}
}