@import url("./swiper.css");
/*@import url("../section-banner/assets/styles.css");*/
/*@import url("../section-about/assets/styles.css");*/
@import url("./tab-bar.css");
/*@import url("../section-suggest/assets/styles.css");*/

@import url("../section-blog/assets/styles.css");
@import url("../section-category/assets/styles.css");
@import url("../../components/section-subscribe/assets/styles.css");

@media screen and (max-width: 639.98px) {
	.header .header-top {
		background: #fff !important;
	}

	.header-logo img {
		filter: initial !important;
	}
	.header-top__right-mb__text {
		color: rgba(46, 46, 46, 0.80) !important;
	}
	.menu-icon .line {
		stroke: #630F3F !important;
	}

	.header .header-top__left-mb {
		background: #630F3F !important;
	}
	.header .header-top__left-mb img {
		filter: brightness(0) invert(1) !important;;
	}
}

.header .header-bottom {
    background: #e1dcd7 !important;
}

.header .header-bottom .header-navigation__item-link {
    color: #2E2E2E !important;
}

.header.header--default .header-search__button, .header.header--default .header-navigation__item-link {
    color: #2e2e2e !important;
}

main {
	position: relative;
	background-color: #FBF9F8;
}