.destination-scroll-container {
  position: relative;
}

.destination-tabs-container {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: #e1dcd7;
  z-index: 9999;
}

.destination-tabs {
  max-width: 75rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 2.75rem;
}

.destination-tabs-mb {
  display: none;
}

.destination-tab {
  height: 100%;
  position: relative;
  padding: 0.625rem 0;
  cursor: pointer;
  color: #2e2e2e;
  text-align: center;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  text-transform: uppercase;
  background: transparent;
  border: none;
  margin: 0 1.25rem;
}

.destination-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.destination-tab.active::after {
  background: #630f3f;
}

@media (max-width: 639px) {
    
  .destination-scroll-container {
    margin-top: -2rem;
  }

  .destination-tabs-container {
    background: #fbf9f8;
  }

  .destination-tabs {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 1.25rem;
  }

  .destination-tab {
    flex-shrink: 0;
    padding: 0.875rem 0.625rem 0.375rem 0.625rem;
    margin: 0;
    color: #2e2e2e;
    text-align: center;
    font-family: "Open Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    text-transform: uppercase;
  }
}

@media (min-width: 1024px) {
  .destination-tab:hover::after {
    background: #630f3f;
  }
}