.banner {
    position: relative;
}

.banner__video {
    min-height: 43.6875rem;
    overflow: hidden;
}
#banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.56;
    background: linear-gradient(
        180deg,
        #000 2%,
        rgba(0, 0, 0, 0) 17.64%,
        rgba(0, 0, 0, 0.5) 80.01%
    );
}

.banner__content {
    position: absolute;
    left: 50%;
    bottom: 6.44rem;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    width: 73.5rem;
}
.banner__content h1 {
}
.banner__content p {
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 4.8rem */
    letter-spacing: -0.04rem;

    color: var(--Text-Title-White, #fff);
}
.banner-search {
    position: absolute;
    width: 51.15988rem;
    height: 5.25425rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.44rem;
    border-radius: 4.18956rem;
    background: #fff;
    box-shadow: 0px 13.274px 28.023px 0px rgba(0, 0, 0, 0.11);
}

.banner-search input::placeholder,
.banner-search input {
    color: var(--text-body-40, rgba(46, 46, 46, 0.4));
    font-family: Matter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.70519rem; /* 56.414% */
    text-transform: capitalize;
}

.banner-search input {
    padding: 0 11.19rem 0 2.19rem;
    color: var(--text-body-75);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4.10663rem;
    background: #f2f2f2;
    border: 0.5rem solid #fff;
    outline: none;
}

.banner-search input:focus {
    outline: 0.35rem solid #ffc456;
}

.banner-search button {
    cursor: pointer;
    position: absolute;
    padding: 1rem 1.5rem;
    border-radius: 2.8125rem;
    background: var(--Test, #2e871c);
    right: 0.63rem;
    top: 0.37rem;
    bottom: 0.38rem;
    border: none;
    display: flex;
    align-items: center;
    color: var(--Text-Title-White, #fff);
    transition: background 0.3s ease-in-out;
}
.banner-search button img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin-right: 0.44rem;
}

@media (min-width: 1024px) {
    .banner-search button:hover {
        background: #5e9c58;
    }
}

@media (max-width: 639.98px) {
    .banner__video {
        min-height: 20.625rem;
    }
    .banner__content {
        left: 0;
        right: 0;
        bottom: 5.88rem;
        transform: unset;
        width: 100%;
    }
    .banner__content p {
        display: inline;
        color: var(--Text-Title-White, #fff);
        text-align: center;

        /* MB/H1/28B */
        font-family: Matter;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 2.1rem */
        letter-spacing: -0.0175rem;

        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        background: unset;
    }
    .banner-search {
        left: 1.38rem;
        right: 1.31rem;
        width: auto;
        height: 3.0625rem;
        bottom: 1.56rem;
        transform: unset;
    }
    .banner-search input::placeholder,
    .banner-search input {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 0.41069rem; /* 46.938% */
    }
    .banner-search input {
        padding: 0 2.87rem 0 1.27rem;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border-width: 0.22rem;
    }
    .banner-search input:focus {
        outline-width: 0.15rem;
    }
    .banner-search span {
        display: none;
    }
    .banner-search button {
        right: 0.65rem;
        width: 2.3125rem;
        height: 2.3125rem;
        padding: 0;
        justify-content: center;
    }
    .banner-search button img {
        width: 0.87363rem;
        height: 0.87363rem;
        margin: 0;
    }
}
