@import url("../../../components/section-reviews/assets/styles.css");

.reviews {
    padding: 4rem 0;
}

.reviews-wrapper {
	position: relative;
	background-color: #EEE9E5;
}

.reviews-background-decor {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 14.3125rem;
	height: 19.6875rem;
	display: block;
}

.reviews-background-decor img {
	width: 100%;
	height: auto;
	mix-blend-mode: multiply;
	pointer-events: none;
	user-select: none;
}

@media (max-width: 639.98px) {
    .reviews {
        padding: 2rem 1.25rem;
    }
}

