@import url("./header-desktop/styles.css");
@import url("./header-mobile/styles.css");

.header.header--mobile {
    display: none;
}

.header.header--desktop {
    display: block;
}

@media screen and (max-width: 639.98px) {
    .header.header--desktop {
        display: none;
    }

    .header.header--mobile {
        display: block;
    }
}