.home-services {
  width: 100%;
  z-index: 99;
}

.home-services__container {
  position: relative;
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
  display: flex;
  padding: 0.625rem 0.625rem 0.625rem 2.5rem;
  align-items: flex-end;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0 672px 188px 0 rgba(0, 0, 0, 0),
    0 430px 172px 0 rgba(0, 0, 0, 0.01), 0 242px 145px 0 rgba(0, 0, 0, 0.05),
    0 107px 107px 0 rgba(0, 0, 0, 0.09), 0 27px 59px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(16.25rem);
  transition: opacity 1600ms cubic-bezier(0.32, 0.01, 0, 1.01),
    transform 1600ms cubic-bezier(0.32, 0.01, 0, 1.01);
}

.home-services__container.is-in-viewport {
  transform: translateY(0);
}

.home-services__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.home-services__list-container {
  position: relative;
  display: flex;
  width: 45.125rem;
  flex-direction: column;
  margin-right: 1rem;
  /* max-height: 42.25rem;
  overflow-y: auto; */
}

.home-services__title {
  color: #680103;
  font-family: Phudu;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 2.5rem;
}

.home-services__list {
  display: flex;
  flex-direction: column;
  height: 38.125rem;
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #680103 transparent;
}

/* Chrome / Safari / Edge */
.home-services__list::-webkit-scrollbar {
  width: 6px;
}

.home-services__list::-webkit-scrollbar-track {
  background: transparent;
}

.home-services__list::-webkit-scrollbar-thumb {
  background-color: #680103;
  border-radius: 999px;
  border: 2px solid transparent;
  /* tạo khoảng hở để track vẫn "trong suốt" */
  background-clip: content-box;
}

.home-services__list-item {
  display: flex;
  padding: 2.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  /*border-top: 0.0625rem dashed rgba(29, 29, 29, 0.12);*/
  /* transition: padding 0.3s ease; */
}

.home-services__line {
  display: block;
  width: 100%;
  height: 0.0625rem;
  padding: 0 0.875rem;
}

.home-services__list-item-title {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
  color: #680103;
  font-family: Phudu;
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  opacity: 0.32;
  transition: opacity 1.2s cubic-bezier(0.47, 0, 0.01, 1.01),
    transform 0.4s cubic-bezier(0.47, 0, 0.01, 1.01);
}

.home-services__list-item-description {
  width: 20.4375rem;
  color: #1d1d1d;
  font-family: "SF Pro Display";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0;
  transition: opacity 1.2s cubic-bezier(0.47, 0, 0.01, 1.01);
}

.home-services__list-item-icon {
  width: 1.125rem;
  height: 1.125rem;
  opacity: 0.48;
  display: none;
}

.home-services__panels {
  position: relative;
  overflow: hidden;
  width: 44.75rem;
  height: 45.625rem;
}

.home-services__media {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.2s cubic-bezier(0.47, 0, 0.01, 1.01);
}

.home-services__media-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-services__media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.home-services__media-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: linear-gradient(
    180deg,
    rgba(106, 0, 2, 0) 52.88%,
    rgba(106, 0, 2, 0.51) 66.35%,
    rgba(106, 0, 2, 0.8) 79.81%,
    #6a0002 93.75%
  );
  pointer-events: none;
  z-index: 1;
}

.home-services__media-gradient-1 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: #000;
}

.home-services__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2rem 2.12rem 2rem;
  z-index: 5;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1.2s cubic-bezier(0.47, 0, 0.01, 1.01),
    transform 1.2s cubic-bezier(0.47, 0, 0.01, 1.01);
}

.home-services__content-title {
  color: #f7f4ec;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Phudu;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0.87rem;
}

.home-services__content-title strong {
  color: #f26c59;
}

.home-services__price {
  color: #f26c59;
}

.home-services__content-list {
  width: 26.375rem;
  display: flex;
  flex-direction: column;
}

.home-services__content-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.home-services__media-icon {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.home-services__content-list-item-text {
  flex: 1 0 0;
  color: #f7f4ec;
  font-family: "SF Pro Display";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.home-services__button {
  position: absolute;
  bottom: 2.12rem;
  right: 1.5rem;
}

.home-services__decor-text {
  position: absolute;
  top: 0;
  right: 0;
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
  color: rgba(255, 255, 255, 0.26);
  font-family: Phudu;
  font-size: 5.53rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  padding: 1.5rem;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  transform: rotate(-180deg) translateY(0%);
  opacity: 0;
  transition: transform 1.2s cubic-bezier(0.47, 0, 0.01, 1.01),
    opacity 1.2s cubic-bezier(0.47, 0, 0.01, 1.01);
  will-change: transform, opacity;
}

.home-services__media.active {
  opacity: 1;
  pointer-events: auto;
}

.home-services__list-item.active .home-services__list-item-icon {
  opacity: 1;
}

.home-services__list-item.active .home-services__list-item-title {
  opacity: 1;
}

.home-services__list-item.active .home-services__list-item-description {
  opacity: 0.8;
}

.home-services__media.active .home-services__content {
  opacity: 1;
  transform: translateY(0);
}

.home-services__media.is-leaving .home-services__content {
  opacity: 0;
  transform: translateY(calc(-100% - 4.75rem));
}

/* START STATE */

.home-services__media.is-down .home-services__decor-text {
  transform: rotate(-180deg) translateY(-100%);
}

.home-services__media.is-up .home-services__decor-text {
  transform: rotate(-180deg) translateY(100%);
}

/* ACTIVE luôn override về 0 */

.home-services__media.active .home-services__decor-text {
  transform: rotate(-180deg) translateY(0);
  opacity: 1;
}

/* LEAVING */
.home-services__media.is-leaving.is-down .home-services__decor-text {
  transform: rotate(-180deg) translateY(100%);
  opacity: 0;
}

.home-services__media.is-leaving.is-up .home-services__decor-text {
  transform: rotate(-180deg) translateY(-100%);
  opacity: 0;
}

.home-services__accordion {
  display: none;
}

.home-services__accordion-inner {
  overflow: hidden;
  margin: 0;
  padding: 0;
  transition: margin 0.3s ease, padding 0.3s ease;
}

.home-services__accordion-description {
  color: #1d1d1d;
  font-family: "SF Pro Display";
  font-size: 0.875rem;
  line-height: 150%;
  opacity: 0.8;
  margin-bottom: 0.625rem;
  display: none;
}

.home-services__accordion-media {
  position: relative;
  width: 100%;
  height: 11.125rem;
}

.home-services__accordion-media-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.75rem;
  z-index: 5;
}

@media (min-width: 1024px) {
  .home-services__list-item:not(.active):hover .home-services__list-item-title {
    opacity: 0.48;
    transform: translateX(0.875rem);
    transition-duration: 0.4s;
  }
}

@media (max-width: 639.98px) {
  .home-services {
    width: 100%;
  }

  .home-services__container {
    width: 21.9375rem;
    padding: 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.06);
    transform: translateY(0);
  }

  .home-services__list-container {
    width: 100%;
    margin: 0;
    max-height: 100%;
  }

  .home-services__title {
    font-size: 0.8125rem;
    padding: 1.25rem 0.875rem;
    margin: 0;
  }

  .home-services__list {
    height: auto;
    max-height: fit-content;
    overflow-y: hidden;
  }

  .home-services__list-item {
    padding: 1.25rem 0.875rem;
  }

  /* .home-services__list-item.active {
    padding-bottom: 0.625rem;
  } */

  .home-services__list-item-title {
    font-size: 1.5rem;
    line-height: 110%;
    opacity: 0.48;
    text-box-edge: unset;
    text-box-trim: unset;
  }

  .home-services__list-item-description {
    display: none;
  }

  .home-services__list-item-icon {
    display: block;
  }

  .home-services__panels {
    display: none;
  }

  .home-services__accordion {
    display: grid;
    padding: 0 0.875rem;
    grid-template-rows: 0fr;
    opacity: 0;
    transform: translateY(-0.625rem);
    transition: grid-template-rows 0.4s ease, opacity 0.3s ease,
      transform 0.3s ease;
    overflow: hidden;
  }

  .home-services__accordion.active {
    grid-template-rows: 1fr;
    opacity: 1;
    padding-bottom: 1.25rem;
    margin-bottom: -0.625rem;
    /* transform: translateY(0); */
  }

  .home-services__accordion.active .home-services__accordion-inner {
    overflow: hidden;
    margin: 0 -2rem -2rem 0;
    padding: 0 2rem 2rem 0;
  }

  .home-services__accordion-description {
    display: block;
  }

  .home-services__media-gradient {
    height: 7.125rem;
    background: linear-gradient(
      180deg,
      rgba(106, 0, 2, 0) 28.83%,
      rgba(106, 0, 2, 0.31) 47.34%,
      rgba(106, 0, 2, 0.48) 62.52%,
      rgba(75, 0, 1, 0.6) 83.4%
    );
  }

  .home-services__decor-text {
    writing-mode: initial;
    -webkit-writing-mode: initial;
    font-size: 2.25rem;
    position: static;
    padding: 0;
    transform: rotate(0);
    opacity: 1;
    margin-bottom: 0.375rem;
  }

  .home-services__content-title {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .home-services__content-list {
    width: 100%;
    margin-top: 0.625rem;
    margin-bottom: 1.125rem;
  }

  .home-services__content-list-item-text {
    color: rgba(29, 29, 29, 0.8);
    font-size: 0.875rem;
  }

  .home-services__button {
    position: static;
    display: flex;
    justify-content: end;
    padding-right: 0.875rem;
    margin-right: -0.875rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .home-services__accordion {
    transition: none;
  }
}
