:root {
    /* TYPE */
    --14-sub-family: "Recoleta";
    --14-sub-size: 14px;
    --14-sub-size-rem: 0.875rem;
    --14-sub-weight: 500;
    --14-sub-style: normal;
    --14-sub-letter-spacing: 1px;
    --14-sub-letter-spacing-rem: 0.0625rem;
    --14-sub-line-height: 120%;
    --20-body-special-family: "Matter";
    --20-body-special-size: 20px;
    --20-body-special-size-rem: 1.25rem;
    --20-body-special-weight: 400;
    --20-body-special-style: normal;
    --20-body-special-line-height: 150%;
    --12-m-sub-mb-family: "Matter";
    --12-m-sub-mb-size: 12px;
    --12-m-sub-mb-size-rem: 0.75rem;
    --12-m-sub-mb-weight: 500;
    --12-m-sub-mb-style: normal;
    --12-m-sub-mb-letter-spacing: 0.5px;
    --12-m-sub-mb-letter-spacing-rem: 0.0313rem;
    --12-m-sub-mb-line-height: 120%;
    --14-m-mb-family: "Matter";
    --14-m-mb-size: 14px;
    --14-m-mb-size-rem: 0.875rem;
    --14-m-mb-weight: 500;
    --14-m-mb-style: normal;
    --14-m-mb-line-height: 140%;
    --18-b-mb-family: "Matter";
    --18-b-mb-size: 18px;
    --18-b-mb-size-rem: 1.125rem;
    --18-b-mb-weight: 700;
    --18-b-mb-style: normal;
    --18-b-mb-line-height: 120%;
    --18-m-mb-family: "Matter";
    --18-m-mb-size: 18px;
    --18-m-mb-size-rem: 1.125rem;
    --18-m-mb-weight: 500;
    --18-m-mb-style: normal;
    --18-m-mb-line-height: 130%;
    --pc-18b-family: "Matter";
    --pc-18b-size: 18px;
    --pc-18b-size-rem: 1.125rem;
    --pc-18b-weight: 700;
    --pc-18b-style: normal;
    --pc-18b-line-height: 120%;
    --pc-body-16r-family: "Matter";
    --pc-body-16r-size: 16px;
    --pc-body-16r-size-rem: 1rem;
    --pc-body-16r-weight: 400;
    --pc-body-16r-style: normal;
    --pc-body-16r-line-height: 150%;
    --pc-body-body2-14-m-family: "Matter";
    --pc-body-body2-14-m-size: 14px;
    --pc-body-body2-14-m-size-rem: 0.875rem;
    --pc-body-body2-14-m-weight: 500;
    --pc-body-body2-14-m-style: normal;
    --pc-body-body2-14-m-line-height: 140%;
    --pc-body-body2-14-r-family: "Matter";
    --pc-body-body2-14-r-size: 14px;
    --pc-body-body2-14-r-size-rem: 0.875rem;
    --pc-body-body2-14-r-weight: 400;
    --pc-body-body2-14-r-style: normal;
    --pc-body-body2-14-r-line-height: 150%;
    --pc-body-body1-18r-family: "Matter";
    --pc-body-body1-18r-size: 18px;
    --pc-body-body1-18r-size-rem: 1.125rem;
    --pc-body-body1-18r-weight: 400;
    --pc-body-body1-18r-style: normal;
    --pc-body-body1-18r-line-height: 160%;
    --pc-tag-14-m-family: "Matter";
    --pc-tag-14-m-size: 14px;
    --pc-tag-14-m-size-rem: 0.875rem;
    --pc-tag-14-m-weight: 500;
    --pc-tag-14-m-style: normal;
    --pc-tag-14-m-letter-spacing: 1px;
    --pc-tag-14-m-letter-spacing-rem: 0.0625rem;
    --pc-tag-14-m-line-height: 120%;
    --pc-tag-22m-family: "Matter";
    --pc-tag-22m-size: 22px;
    --pc-tag-22m-size-rem: 1.375rem;
    --pc-tag-22m-weight: 500;
    --pc-tag-22m-style: normal;
    --pc-button-14-b-in-family: "Matter";
    --pc-button-14-b-in-size: 14px;
    --pc-button-14-b-in-size-rem: 0.875rem;
    --pc-button-14-b-in-weight: 700;
    --pc-button-14-b-in-style: normal;
    --pc-button-14-b-in-line-height: 150%;
    --pc-button-16-b-family: "Matter";
    --pc-button-16-b-size: 16px;
    --pc-button-16-b-size-rem: 1rem;
    --pc-button-16-b-weight: 700;
    --pc-button-16-b-style: normal;
    --pc-button-16-b-line-height: 150%;
    --pc-button-14-normal-family: "Matter";
    --pc-button-14-normal-size: 14px;
    --pc-button-14-normal-size-rem: 0.875rem;
    --pc-button-14-normal-weight: 700;
    --pc-button-14-normal-style: normal;
    --pc-button-14-normal-line-height: 150%;
    --pc-h1-72sm-family: "Fraunces";
    --pc-h1-72sm-size: 72px;
    --pc-h1-72sm-size-rem: 4.5rem;
    --pc-h1-72sm-weight: 600;
    --pc-h1-72sm-style: italic;
    --pc-h1-72sm-line-height: 120%;
    --pc-sub-14m-family: "Matter";
    --pc-sub-14m-size: 14px;
    --pc-sub-14m-size-rem: 0.875rem;
    --pc-sub-14m-weight: 500;
    --pc-sub-14m-style: normal;
    --pc-sub-14m-line-height: 120%;
    --pc-sub-18m-family: "Matter";
    --pc-sub-18m-size: 18px;
    --pc-sub-18m-size-rem: 1.125rem;
    --pc-sub-18m-weight: 500;
    --pc-sub-18m-style: normal;
    --pc-sub-18m-line-height: 120%;
    --pc-h2-44semi-family: "Clash Grotesk";
    --pc-h2-44semi-size: 44px;
    --pc-h2-44semi-size-rem: 2.75rem;
    --pc-h2-44semi-weight: 600;
    --pc-h2-44semi-style: normal;
    --pc-h2-44semi-line-height: 120%;
    --pc-h5-22-m-family: "Matter";
    --pc-h5-22-m-size: 22px;
    --pc-h5-22-m-size-rem: 1.375rem;
    --pc-h5-22-m-weight: 500;
    --pc-h5-22-m-style: normal;
    --pc-h5-22-m-line-height: 150%;
    --pc-h5-22b-family: "Matter";
    --pc-h5-22b-size: 22px;
    --pc-h5-22b-size-rem: 1.375rem;
    --pc-h5-22b-weight: 700;
    --pc-h5-22b-style: normal;
    --pc-h5-22b-line-height: 120%;
    --pc-h4-32semi-family: "Clash Grotesk";
    --pc-h4-32semi-size: 32px;
    --pc-h4-32semi-size-rem: 2rem;
    --pc-h4-32semi-weight: 600;
    --pc-h4-32semi-style: normal;
    --pc-h4-32semi-line-height: 120%;
    --pc-h3-40b-family: "Matter";
    --pc-h3-40b-size: 40px;
    --pc-h3-40b-size-rem: 2.5rem;
    --pc-h3-40b-weight: 700;
    --pc-h3-40b-style: normal;
    --pc-h3-40b-line-height: 120%;
    --mb-h1-serif-family: "Fraunces";
    --mb-h1-serif-size: 28px;
    --mb-h1-serif-size-rem: 1.75rem;
    --mb-h1-serif-weight: 600;
    --mb-h1-serif-style: italic;
    --mb-h1-serif-line-height: 120%;
    --mb-h2-family: "Clash Grotesk";
    --mb-h2-size: 24px;
    --mb-h2-size-rem: 1.5rem;
    --mb-h2-weight: 600;
    --mb-h2-style: normal;
    --mb-h2-line-height: 120%;
    --mb-h3-family: "Clash Grotesk";
    --mb-h3-size: 20px;
    --mb-h3-size-rem: 1.25rem;
    --mb-h3-weight: 600;
    --mb-h3-style: normal;
    --mb-h3-line-height: 120%;
    --mb-14-b-family: "Matter";
    --mb-14-b-size: 14px;
    --mb-14-b-size-rem: 0.875rem;
    --mb-14-b-weight: 700;
    --mb-14-b-style: normal;
    --mb-14-b-line-height: 150%;
    --mb-14r-family: "Matter";
    --mb-14r-size: 14px;
    --mb-14r-size-rem: 0.875rem;
    --mb-14r-weight: 400;
    --mb-14r-style: normal;
    --mb-14r-line-height: 150%;
    --mb-16r-family: "Matter";
    --mb-16r-size: 16px;
    --mb-16r-size-rem: 1rem;
    --mb-16r-weight: 400;
    --mb-16r-style: normal;
    --mb-16r-line-height: 150%;
    --mb-16m-family: "Matter";
    --mb-16m-size: 16px;
    --mb-16m-size-rem: 1rem;
    --mb-16m-weight: 500;
    --mb-16m-style: normal;
    --mb-16m-line-height: 130%;
    --mb-14m-family: "Matter";
    --mb-14m-size: 14px;
    --mb-14m-size-rem: 0.875rem;
    --mb-14m-weight: 500;
    --mb-14m-style: normal;
    --mb-14m-line-height: 140%;
    --mb-h1-28b-family: "Matter";
    --mb-h1-28b-size: 28px;
    --mb-h1-28b-size-rem: 1.75rem;
    --mb-h1-28b-weight: 700;
    --mb-h1-28b-style: normal;
    --mb-h1-28b-line-height: 120%;
    --mb-h2-24sm-family: "Clash Grotesk";
    --mb-h2-24sm-size: 24px;
    --mb-h2-24sm-size-rem: 1.5rem;
    --mb-h2-24sm-weight: 600;
    --mb-h2-24sm-style: normal;
    --mb-h2-24sm-line-height: 120%;
    --mb-h2-24sm-frauces-family: "Fraunces";
    --mb-h2-24sm-frauces-size: 24px;
    --mb-h2-24sm-frauces-size-rem: 1.5rem;
    --mb-h2-24sm-frauces-weight: 700;
    --mb-h2-24sm-frauces-style: italic;
    --mb-h2-24sm-frauces-line-height: 120%;
    --mb-sub1-16b-family: "Matter";
    --mb-sub1-16b-size: 16px;
    --mb-sub1-16b-size-rem: 1rem;
    --mb-sub1-16b-weight: 700;
    --mb-sub1-16b-style: normal;
    --mb-sub1-16b-line-height: 120%;
    --mb-tag-12m-family: "Matter";
    --mb-tag-12m-size: 12px;
    --mb-tag-12m-size-rem: 0.75rem;
    --mb-tag-12m-weight: 500;
    --mb-tag-12m-style: normal;
    --mb-tag-12m-letter-spacing: 0.67px;
    --mb-tag-12m-letter-spacing-rem: 0.0417rem;
    --mb-tag-12m-line-height: 120%;
    --mb-sub0-18sm-family: "Poppins";
    --mb-sub0-18sm-size: 18px;
    --mb-sub0-18sm-size-rem: 1.125rem;
    --mb-sub0-18sm-weight: 600;
    --mb-sub0-18sm-style: normal;
    --mb-sub0-18sm-letter-spacing: 0.5px;
    --mb-sub0-18sm-letter-spacing-rem: 0.0313rem;
    --mb-sub0-18sm-line-height: 160%;
    --mb-body1-14r-family: "Matter";
    --mb-body1-14r-size: 14px;
    --mb-body1-14r-size-rem: 0.875rem;
    --mb-body1-14r-weight: 400;
    --mb-body1-14r-style: normal;
    --mb-body1-14r-line-height: 150%;

    /* COLORS */
    --Test: #2e871c;
    --bg-mau-bet: #f6eee3;
    --foundation-green-light: #ecf7ea;
    --foundation-green-light-hover: #e3f3df;
    --foundation-green-light-active: #c5e6bd;
    --foundation-green-normal: #45af2a;
    --foundation-green-normal-hover: #3e9e26;
    --foundation-green-normal-active: #378c22;
    --foundation-green-dark: #348320;
    --foundation-green-dark-hover: #296919;
    --foundation-green-dark-active: #1f4f13;
    --foundation-green-darker: #183d0f;
    --foundation-orange-light: #fff3e6;
    --foundation-orange-light-hover: #ffedd9;
    --foundation-orange-light-active: #ffdab0;
    --foundation-orange-normal: #ff8800;
    --foundation-orange-normal-hover: #e67a00;
    --foundation-orange-normal-active: #cc6d00;
    --foundation-orange-dark: #bf6600;
    --foundation-orange-dark-hover: #995200;
    --foundation-orange-dark-active: #733d00;
    --foundation-orange-darker: #593000;
    --text-link: #006ce4;
    --text-highlight: #e77b00;
    --text-body-t1: #2e2e2e;
    --text-body-75: rgba(46 46 46 / 0.75);
    --text-body-60: rgba(46 46 46 / 0.6);
    --text-body-40: rgba(46 46 46 / 0.4);
    --text-body-80-invert: rgba(255 255 255 / 0.8);
    --Text-Title-White: #ffffff;
    --text-title-dark-green: #043424;
    --BG-Card-blog: #e5e7de;

    /* GRADIENTS */
    --bg-stop-1-color: #f9f4ee;
    --bg-stop-1-position: 0%;
    --bg-stop-2-color: #ffffff;
    --bg-stop-2-position: 100%;
    --fwfw-stop-1-color: #11461c;
    --fwfw-stop-1-position: 0%;
    --fwfw-stop-2-color: rgba(12 76 26 / 0.7);
    --fwfw-stop-2-position: 17.6%;
    --fwfw-stop-3-color: rgba(0 91 20 / 0);
    --fwfw-stop-3-position: 62.3%;
    --bg-2-stop-1-color: #ffffff;
    --bg-2-stop-1-position: 73.7%;
    --bg-2-stop-2-color: #fdfdfd;
    --bg-2-stop-2-position: 100%;
    --gradient-tittle-text-stop-1-color: #ffffff;
    --gradient-tittle-text-stop-1-position: 0%;
    --gradient-tittle-text-stop-2-color: rgba(255 255 255 / 0.19);
    --gradient-tittle-text-stop-2-position: 100%;
    --h1-stop-1-color: #ffffff;
    --h1-stop-1-position: 0%;
    --h1-stop-2-color: rgba(255 255 255 / 0.19);
    --h1-stop-2-position: 100%;
    --gdfgg-stop-1-color: rgba(255 255 255 / 0);
    --gdfgg-stop-1-position: 0%;
    --gdfgg-stop-2-color: #ffffff;
    --gdfgg-stop-2-position: 100%;
    --text-title-gradient-stop-1-color: #5bc537;
    --text-title-gradient-stop-1-position: 0%;
    --text-title-gradient-stop-2-color: #007f19;
    --text-title-gradient-stop-2-position: 100%;

    /* SHADOWS */
    --shadow: 2px 4px 20px 2px rgba(205 204 218 / 0.4);
    --bongs-cho-vong-tron-logo: 0 1px 2px 0 rgba(0 0 0 / 0.05),
        2px 3px 3px 0 rgba(0 0 0 / 0.04), 4px 6px 4px 0 rgba(0 0 0 / 0.03),
        8px 11px 5px 0 rgba(0 0 0 / 0.01), 12px 17px 6px 0 rgba(0 0 0 / 0);
    --ion: 0 0.79px 1.58px 0 rgba(0 0 0 / 0.1),
        0 0.53px 0.79px 0 rgba(0 0 0 / 0.1), 0 0.13px 0.26px 0 rgba(0 0 0 / 0.1);
    --icon: 0 0.89px 1.78px 0 rgba(0 0 0 / 0.1),
        0 0.59px 0.89px 0 rgba(0 0 0 / 0.1), 0 0.15px 0.3px 0 rgba(0 0 0 / 0.1);
    --shadow-photo: 3px 10px 23px 0 rgba(50 34 129 / 0.1),
        10px 41px 43px 0 rgba(50 34 129 / 0.09),
        23px 93px 57px 0 rgba(50 34 129 / 0.05),
        41px 165px 68px 0 rgba(50 34 129 / 0.01),
        64px 258px 74px 0 rgba(50 34 129 / 0);
    --bong-trong-nut: inset 0 4px 16px 0 rgba(143 143 143 / 0.25),
        inset 0 -4px 16px 0 rgba(143 143 143 / 0.25);
    --hinh-minh-hoa: 0.86px 1.72px 5.16px 0 rgba(18 16 178 / 0.1),
        4.3px 8.59px 9.45px 0 rgba(18 16 178 / 0.09),
        10.31px 18.91px 12.89px 0 rgba(18 16 178 / 0.05),
        18.91px 33.51px 15.47px 0 rgba(18 16 178 / 0.02),
        29.22px 51.56px 16.33px 0 rgba(18 16 178 / 0);
    --shadow-test: 0 13px 29px 0 rgba(15 21 194 / 0.1),
        0 53px 53px 0 rgba(15 21 194 / 0.09),
        0 119px 71px 0 rgba(15 21 194 / 0.05),
        0 212px 85px 0 rgba(15 21 194 / 0.01),
        0 331px 93px 0 rgba(15 21 194 / 0);
    --shadow-test-2: 2px 2px 34.3px 6px rgba(225 225 248 / 0.4);
    --mega: 0 0 58.8px 0 rgba(143 140 140 / 0.06);
    --5: 0 1.97px 5.92px 0 rgba(13 10 44 / 0.08);
    --test-2609-1: 0 9px 20px 0 rgba(163 163 163 / 0.1),
        0 36px 36px 0 rgba(163 163 163 / 0.09),
        0 81px 48px 0 rgba(163 163 163 / 0.05),
        0 143px 57px 0 rgba(163 163 163 / 0.01),
        0 224px 63px 0 rgba(163 163 163 / 0);
    --fw: 0 -24px 75.4px 3px rgba(251 251 251 / 0.25);
    --usp: 0 8.63px 19.18px 0 rgba(163 163 163 / 0.1),
        0 34.52px 34.52px 0 rgba(163 163 163 / 0.09),
        0 77.66px 46.02px 0 rgba(163 163 163 / 0.05),
        0 137.1px 54.65px 0 rgba(163 163 163 / 0.01),
        0 214.76px 60.4px 0 rgba(163 163 163 / 0);
    --shadow-super: 0 32px 64px -12px rgba(16 24 40 / 0.14);
    --shadow-extra: 0 24px 48px -12px rgba(16 24 40 / 0.18);
    --shadow-5: 0 8px 8px -4px rgba(16 24 40 / 0.03),
        0 20px 24px -4px rgba(16 24 40 / 0.08);
    --shadow-4: 0 4px 6px -2px rgba(16 24 40 / 0.03),
        0 12px 16px -4px rgba(16 24 40 / 0.08);
    --shadow-3: 0 2px 4px -2px rgba(16 24 40 / 0.06),
        0 4px 8px -2px rgba(16 24 40 / 0.1);
    --shadow-2: 0 1px 12px 0 rgba(16 24 40 / 0.02),
        0 1px 5px 0 rgba(16 24 40 / 0.06);
    --shadow-shadow2: 5px 12px 28px 0 rgba(220 220 229 / 0.1),
        19px 47px 51px 0 rgba(220 220 229 / 0.09),
        44px 106px 69px 0 rgba(220 220 229 / 0.05),
        78px 189px 82px 0 rgba(220 220 229 / 0.01),
        121px 295px 89px 0 rgba(220 220 229 / 0);
    --shadow-1: 0 1px 2px 0 rgba(16 24 40 / 0.05);

    /* GRIDS */
    --pc-columns: 12;
    --pc-gutter: 16px;
    --pc-gutter-rem: 1rem;
    --mb-columns: 4;
    --mb-gutter: 16px;
    --mb-gutter-rem: 1rem;
}
