.list-tours--2 .list-tours__title {
    text-align: left;
    margin-bottom: 1.5rem;
}
.list-tours--2 .list-tours__dropdown {
    min-width: 13rem;
    width: auto;
}

@media (max-width: 639.98px) {
    .list-tours--2 {
        padding-top: 0;
    }
}
