.section__journey {
  width: 100%;
  height: fit-content;
  padding-top: 3.06rem;
  background: white;
}

.section__journey__content {
  width: 42.875rem;
  margin: 0 auto;
}

.section__journey__title {
  color: #630f3f;
  text-align: center;
  font-family: "BHN TAN - MEMORIES";
  font-size: 2.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.1575rem;
  margin-bottom: 1.88rem;
}

.section__journey__content__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.section__journey__content__contact__item {
  width: fit-content;
  margin-right: 1.34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__journey__content__contact__item__text {
  color: #630f3f;
  text-align: center;
  font-family: "Trip Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.7;
}

.section__journey__content__contact__item__link {
  display: flex;
  align-items: center;
  color: #630f3f;
  text-align: center;
  font-family: "Trip Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.section__journey__content__contact__item__link svg {
  width: 1.2rem;
  height: auto;
  margin-right: 0.27rem;
  flex-shrink: 0;
}

.section__journey__content__contact__link {
  color: white;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 1.1375rem */
  text-transform: uppercase;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.section__journey__background__picture {
  width: 100%;
  height: fit-content;
}

.section__journey__background {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 639px) {
  .section__journey {
    padding-top: 1rem;
  }
  
  .section__journey__content {
    width: 100%;
    padding: 0 1.25rem;
  }

  .section__journey__title {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
    letter-spacing: 0.08rem;
    margin-bottom: 2.25rem;
  }

  .section__journey__content__contact__item__text {
    font-size: 0.70206rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .section__journey__content__contact__item__link svg {
    width: 0.8rem;
    margin-right: 0.25rem;
  }

  .section__journey__content__contact__item__link {
    font-size: 0.87406rem;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
  }

  .section__journey__content__contact__link {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .section__journey__content__contact__item {
    margin-right: 0.74rem;
  }
}
