.benefit {
    margin-top: 2.5rem;
}
.benefit__container {
    padding: 2.25rem;
    border-radius: 1.25rem;
    background: var(--Text-invert---trng-tinh, #fff);
}
.benefit__body {
    display: flex;
    margin-bottom: 1.5rem;
}

.benefit__include,
.benefit__exclude {
    flex: 1;
    border-radius: 0.75rem;
    background: #f5f8f6;
    padding: 1rem;
}
.benefit__include {
    margin-right: 1rem;
}

.benefit__include-title,
.benefit__exclude-title {
    color: var(--titile, #1c1c1c);
    margin-bottom: 0.75rem;
}
.benefit__header-title {
    margin-bottom: 0.75rem;
    color: var(--Text-Body-T1, #2e2e2e);
}

.benefit__include ul,
.benefit__exclude ul {
    padding-left: 0.5rem;
    margin-left: 0.8rem;
    margin-bottom: 0;
}

.benefit__include li::marker,
.benefit__exclude li::marker {
    color: var(--Test, #2e871c);
}

.benefit__include li,
.benefit__exclude li {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
    margin-bottom: 0.5rem;
}
.benefit__include li:last-child,
.benefit__exclude li:last-child {
    margin-bottom: 0;
}

.benefit__information-title {
    color: var(--Text-Body-T1, #2e2e2e);
    margin-bottom: 0.75rem;
}
.benefit__information ul {
    margin: 0 0 0 1.8rem;
    padding: 0;
}
.benefit__information li {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.5rem */
}

@media (max-width: 639.98px) {
    .benefit {
        padding: 0 1rem;
    }
    .benefit__body {
        flex-direction: column;
    }
    .benefit__container {
        padding: 1rem;
        border-radius: 0.75rem;
    }
    .benefit__include {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .benefit__header-title {
        color: var(--Text-Body-T1, #2e2e2e);
        font-size: 1.125rem;
        line-height: 120%; /* 1.35rem */
        margin-bottom: 0.75rem;
    }
    .benefit__include li,
    .benefit__exclude li,
    .benefit__information li {
        font-size: 0.875rem;
        line-height: 150%; /* 1.3125rem */
    }
    .benefit__information ul {
        margin-left: 1.2rem;
    }

    .benefit__include li::marker,
    .benefit__exclude li::marker,
    .benefit__information li::marker {
        font-size: 1rem;
    }
}
