.related-tour .tour-item {
  width: 100%;
  height: 30.6875rem;
}

.related-tour {
  padding-top: 3.75rem;
}

.related-tour__background {
  position: sticky;
  top: 10.87rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 10.87rem);
  pointer-events: none;
}

.related-tour__background-image {
  pointer-events: none;
  position: absolute;
  left: 0;
  /* top: 20.69rem; */
  bottom: 0;
  width: 100%;
}

.related-tour__content {
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: calc(-100vh + 10.87rem);
}

.related-tour__left {
  position: sticky;
  top: 10.87rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  height: calc(100vh - 10.87rem);
  padding-top: 3.38rem;
  margin-right: 7.69rem;
}

@media (min-width: 640px) and (max-width: 1025px) {
  .related-tour__background {
    top: 10.87rem;
    height: calc(79.6875rem - 10.87rem);
  }

  .related-tour__content {
    margin-top: calc(-79.6875rem + 10.87rem);
  }

  .related-tour__left {
    top: 10.87rem;
    height: calc(79.6875rem - 10.87rem);
  }
}

.related-tour__title {
  color: #630F3F;
  font-family: "BHN TAN - MEMORIES";
  font-size: 2.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.1575rem;
  margin-bottom: 0.5rem;
}

.related-tour__description {
  width: 20.0625rem;
  color: rgba(46, 46, 46, 0.80);
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.related-tour__right {
  display: flex;
  width: 47.25rem;
  flex-direction: column;
  padding-bottom: 7.5rem;
}

.related-tour-swiper {
  position: relative;
}

/* card */
.related-tour__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
}

.related-tour__overlay {
  pointer-events: none;
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: linear-gradient(180deg, #000 21.13%, rgba(0, 0, 0, 0.75) 40.99%, rgba(0, 0, 0, 0.00) 55.92%, rgba(0, 0, 0, 0.00) 80.55%);
  z-index: 1;
}

.related-tour__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-tour__card-title {
  position: relative;
  display: flex;
  width: 39.8125rem;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
}

.related-tour__card-title h2 {
  color: #FFF;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.125rem;
  margin-bottom: 1rem;
}

.related-tour__card-title p {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.related-tour__button {
  margin: 0 2.5rem 2.5rem auto;
  width: 14.75rem;
  height: 3.125rem;
}

.related_tour__link-view-all {
  color: #630F3F;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  padding: 0.9375rem 0;
  margin-left: auto;
}

.related_tour__link-view-all-mobile {
  width: 8.9375rem;
  display: none;
}

/* swiper */

.related-tour-swiper-container {
  position: relative;
}

.related-tour .swiper {
  width: 100%;
}

.related-tour__swiper .swiper-slide {
  width: 22.875rem;
  height: 30.6875rem;
  border-radius: 0.25rem;
  overflow: hidden;
  user-select: none;
}

.related-tour__item {
  position: relative;
  width: 100%;
  height: 100%;
  align-self: stretch;
  display: block;
}

.related-tour__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(257deg, rgba(0, 0, 0, 0.00) 40.04%, #000 131.31%);
  transition: opacity 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(256deg, rgba(0, 0, 0, 0.00) 58.41%, #000 129.89%);
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.related-tour__item-content-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 19.125rem;
  padding: 6.4375rem 1rem 1rem 1rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.37) 62.96%, rgba(0, 0, 0, 0.24) 80.13%, rgba(0, 0, 0, 0.00) 100%);
  z-index: 5;
}

.related-tour__item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-title {
  color: #FFF;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.3125rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-description {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-info {
  display: flex;
  width: 100%;
  padding-right: 1.125rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-info-location {
  display: flex;
  flex-direction: column;
}

.related-tour__item-info-location-label--desktop,
.related-tour__item-info-price-label--desktop {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 0.25rem;
}

.related-tour__item-info-location-label--mobile,
.related-tour__item-info-price-label--mobile {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 0.5rem;
  display: none;
}

.related-tour__item-info-location-value,
.related-tour__item-info-price-value {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}

.related-tour__item-info-price {
  display: flex;
  width: 9rem;
  flex-direction: column;
}

.related-tour__item-line {
  width: 100%;
  height: 0.0625rem;
  /* background: radial-gradient(6180.17% 50% at 50% 50%, #FFF 0%, rgba(153, 153, 153, 0.00) 100%); */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

/* Navigation Element */
.related-tour__navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 53.3125rem;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}

.related-tour__swiper-button {
  display: flex;
  padding: 0.5625rem;
  align-items: center;
  border-radius: 6.25rem;
  background: rgba(99, 15, 63, 0.1);
  backdrop-filter: blur(6px);
  pointer-events: auto;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.related-tour__swiper-button--prev.is-disabled,
.related-tour__swiper-button--next.is-disabled {
  opacity: 0.5;
  /* cursor: not-allowed; */
}

.related-tour__swiper-button-icon {
  width: 1.25rem;
  height: 1.25rem;
  transition: filter 0.3s ease;
}

.related-tour__swiper-button--next .related-tour__swiper-button-icon {
  transform: rotate(180deg);
}

.related-tour__item-button-wrapper {
  width: 100%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.48, 0, 0, 1.01);
}

.related-tour__item-button {
  display: flex;
  justify-content: space-between;
  padding-top: 1.125rem;
  align-items: center;
  align-self: stretch;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 150%; */
  line-height: 1.72159rem;
}

.related-tour__item-button-category {
  display: flex;
  align-items: center;
  /* padding: 0.20456rem 0; */
}

.related-tour__item-button-icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-left: 0.25rem;
}

.related-tour__navigation .related-tour__swiper-button {
  pointer-events: auto;
}

.related-tour__card--mobile {
  flex-shrink: 0;
  width: 17.01019rem;
  height: 21.75rem;
  border-radius: 0.125rem;
  display: none;
}

.related-tour__card--desktop {
  display: flex;
}

/*  */

@media (min-width: 1024px) {
  .related-tour__navigation .related-tour__swiper-button:hover:not(.is-disabled):not(.swiper-button-disabled) {
    background: #630f3f;
  }

  .related-tour__navigation .related-tour__swiper-button:hover:not(.is-disabled):not(.swiper-button-disabled) .related-tour__swiper-button-icon {
    filter: brightness(0) invert(1);
  }

  .related-tour__item:hover .related-tour__item-button-wrapper {
    opacity: 1;
    max-height: 3.5rem;
  }

  .related-tour__item:hover::before {
    opacity: 0;
  }

  .related-tour__item:hover::after {
    opacity: 1;
  }
}

@media (max-width: 639.98px) {
  .related-tour .tour-item {
    height: 21.75rem;
  }
  
  .related-tour .tour-item .tour-item__content-meta {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    margin-bottom: 0;
  }

  .related-tour .tour-item .tour-item__content-meta {
    justify-content: space-between;
  }

  .inspiring .tour-item .tour-item__content-meta__item--leaving-from {
    margin-right: 2.5rem;
  }

  .related-tour .tour-item .tour-item__content-desc {
    margin-bottom: 0.625rem;
    width: 12.375rem;
    height: 2.375rem;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }

  .related-tour .tour-item .tour-item__content-meta::before,
  .related-tour .tour-item .tour-item__content-meta::after {
    display: none;
  }

  .related-tour .tour-item .tour-item__content-divider {
    display: block;
  }

  .related-tour .tour-item .tour-item__content-footer {
    padding-top: 0.0625rem;
    height: 1.25rem;
  }

  .related-tour .tour-item .tour-item__content-footer__destination {
    display: flex;
  }

  .related-tour .tour-item .tour-item__content-footer__destination-text {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-right: 0.5rem;
  }

  .related-tour .tour-item .tour-item__content-meta__item__label {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  .related-tour .tour-item .tour-item__content-meta__item__value {
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }

  .related-tour .tour-item .tour-item__content-footer__destination-icon {
    width: 1rem;
    height: 1rem;
  }
    
  .related-tour {
    padding-top: 2rem;
  }

  .related-tour__card {
    display: none;
  }

  .related-tour__background-image--mobile {
    display: block;
  }


  .related-tour__background-image--desktop {
    display: none;
  }

  /* .related-tour__header {
    flex-direction: column;
    padding: 0 1.25rem;
    margin-bottom: 2rem;
  } */

  .related-tour__description {
    width: 100%;
    color: #2E2E2E;
    font-family: "Open Sans";
    font-size: 0.625rem;
    line-height: 140%;
    margin-bottom: 0.875rem;
    text-transform: uppercase;
    white-space: pre-line;
  }

  .related-tour__title {
    align-self: stretch;
    font-size: 1.5rem;
    line-height: 150%;
    letter-spacing: 0.09rem;
    margin-bottom: 0;
  }

  /* Horizontal scroll optimization */
  .related-tour__content {
    flex-direction: column;
    margin: 0;
  }

  .related-tour__background {
    display: none;
  }

  .related-tour__left {
    position: relative;
    top: 0;
    flex-direction: column-reverse;
    height: auto;
    padding: 0 1.25rem;
    margin: 0;
  }

  .related-tour__right {
    padding: 0;
    width: 100%;
  }

  .related-tour__swiper {
    margin: 2rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior-x: contain;
  }

  .related-tour__content::-webkit-scrollbar,
  .related-tour__swiper::-webkit-scrollbar {
    display: none;
  }

  .related-tour__swiper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    padding: 0 1.25rem;
  }

  .related-tour__swiper .swiper-slide {
    flex-shrink: 0;
    width: 17.01019rem;
    height: 21.75rem;
    border-radius: 0.125rem;
  }

  .related-tour__swiper .swiper-slide:not(:last-child) {
    margin-right: 0.875rem;
  }

  .related-tour__item-content-wrapper {
    height: 16.51488rem;
    padding: 5.34306rem 0.75556rem 1.07938rem 0.75556rem;
  }

  .related-tour__item-title {
    font-size: 0.875rem;
    line-height: 180%;
    margin-bottom: 0.64763rem;
  }

  .related-tour__item-description {
    display: none;
  }

  .related-tour__item-info {
    padding-right: 0;
    justify-content: flex-start;
    padding-top: 0.64763rem;
    padding-bottom: 0.86351rem;
    border-top: 0.054rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.054rem solid rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
  }

  .related-tour__item-info-location-label--desktop,
  .related-tour__item-info-price-label--desktop {
    display: none;
  }

  .related-tour__item-info-price-duration {
    display: none;
  }

  .related-tour__item-info-location {
    margin-right: 3.99381rem;
  }

  .related-tour__item-info-location-label--mobile,
  .related-tour__item-info-price-label--mobile {
    display: inline;
  }

  .related-tour__item-info-location,
  .related-tour__item-info-price {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .related-tour__item-info-price-value {
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
  }

  .related-tour__item-line {
    display: none;
  }

  .related-tour__item-button-wrapper {
    opacity: 1;
    max-height: 5rem;
  }

  .related-tour__item-button-category {
    padding: 0;
  }

  .related-tour__item-button-text {
    display: none;
  }

  .related-tour__item-button {
    display: flex;
    /* padding-top: 0.10794rem; */
    padding-top: 0.75557rem;
    font-size: 0.75rem;
    font-weight: 600;
  }

  .related-tour__navigation {
    display: none;
  }

  .related_tour__link-view-all {
    display: none;
  }

  .related_tour__link-view-all-mobile {
    display: flex;
    margin: 0 auto;
    height: 2.375rem;
  }
  
  .related-tour__card--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .related-tour__card--desktop {
    display: none;
  }

  .related-tour__card {
    margin: 0;
  }

  .related-tour__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
  }

  .related-tour__card-title {
    align-items: center;
    width: 16.19838rem;
    padding: 0;
  }

  .related-tour__card-title h2 {
    text-align: center;
    font-size: 0.875rem;
    line-height: 170%;
    letter-spacing: 0.08075rem;
  }

  .related-tour__card-title p {
    text-align: center;
    font-family: "Trip Sans";
    font-size: 0.75rem;
    line-height: 180%;
    margin: 0.86106rem 0;
  }

  .related-tour__button {
    width: 12.5rem;
    height: 2.375rem;
  }
}