.ht-introduction {
  margin-top: -2.75rem;
  position: relative;
  height: 62.625rem;
  width: 100%;
  overflow: hidden;
}

.ht-introduction_deco {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 47.125rem;
  width: 100%;
  object-fit: cover;
}

.ht-introduction_deco-mb {
  display: none;
}

.ht-introduction_container {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
}

.ht-introduction_left {
  padding-top: 13.44rem;
  width: 39.625rem;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.ht-introduction_img1 {
  width: 100%;
  height: 24.375rem;
  object-fit: cover;
  margin-bottom: 1.125rem;
}

.ht-introduction_content {
  color: #2e2e2e;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.ht-introduction_content a {
  text-decoration: underline;
}

.ht-introduction_right {
  padding-top: 8.25rem;
  flex-grow: 1;
}

.ht-introduction_title {
  color: #630f3f;
  font-family: "BHN TAN - MEMORIES";
  font-size: 2.625rem;
  font-style: italic;
  font-weight: 400;
  line-height: 4.4625rem;
  letter-spacing: 0.1575rem;
  padding-left: 0.69rem;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

.ht-introduction_desc {
  color: #630f3f;
  font-family: "BHN TAN - MEMORIES";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.925rem;
  letter-spacing: 0.0625rem;
  padding-left: 0.69rem;
  margin-bottom: 1.81rem;
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

.ht-introduction_img-wrapper {
  display: flex;
  align-items: start;
}

.ht-introduction_img2 {
  width: 17.125rem;
  height: 29.125rem;
  flex-shrink: 0;
  margin-right: 1.25rem;
  object-fit: cover;
}

.ht-introduction_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.75rem;
  flex-shrink: 0;
}

.ht-introduction_img3 {
  width: 100%;
  height: 18.5625rem;
  object-fit: cover;
  margin-bottom: 1.25rem;
}

.ht-introduction_link.compound-avian-button {
  width: 100%;
}

.ht-introduction_bottom {
  display: none;
}

@media (max-width: 639px) {
  .ht-introduction {
    margin-top: 0;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .ht-introduction_deco {
    display: none;
  }

  .ht-introduction_deco-mb {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 47.125rem;
    object-fit: cover;
  }

  .ht-introduction_container {
    padding: 3rem 0;
    max-width: 100%;
    flex-direction: column;
  }

  .ht-introduction_left {
    order: 2;
    padding: 0;
  }

  .ht-introduction_right {
    padding: 0 1.5rem;
  }

  .ht-introduction_title {
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.09rem;
  }

  .ht-introduction_desc {
    padding: 0;
    font-size: 0.75rem;
    line-height: 1.8rem;
    letter-spacing: 0.0625rem;
  }

  .ht-introduction_wrapper {
    display: none;
    width: 100%;
  }

  .ht-introduction_img2 {
    display: none;
  }

  .ht-introduction_left {
    width: 100%;
  }

  .ht-introduction_img1 {
    height: 12.875rem;
    margin-bottom: 1.5rem;
  }

  .ht-introduction_content {
    padding: 0 1.5rem;
    color: #2e2e2e;
    font-size: 0.875rem;
    line-height: 1.4rem;
    margin-bottom: 1.5rem;
  }

  .ht-introduction_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }

  .ht-introduction_img3 {
    height: 24.6875rem;
    margin-bottom: 1.5rem;
  }

  .ht-introduction_link.compound-avian-button {
    width: 8.6875rem;
    margin: 0 auto;
  }
}
