.destination-cultures {
  position: relative;
  width: 100%;
  height: 57.1875rem;
  background: linear-gradient(180deg, #fff 0%, #eee9e5 100%);
}

.destination-cultures_slides.swiper {
  height: 100%;
}

.destination-cultures_slides .swiper-pagination {
  padding: 2.5rem 0;
  width: 82.25rem;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: left;
  pointer-events: none;
}

.destination-cultures_slides .swiper-pagination-bullet {
  pointer-events: auto;
}

.destination-cultures_slides .swiper-button-prev,
.destination-cultures_slides .swiper-button-next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5625rem;
  width: auto;
  height: auto;
  border-radius: 6.25rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}

.destination-cultures_slides .swiper-navigation-icon {
  width: 0.6875rem;
  height: 0.6875rem;
  stroke-width: 2px;
  stroke: white;
}

.destination-cultures_slides .swiper-navigation-icon path {
  fill: white;
}

.destination-cultures_slides .swiper-button-prev {
  left: 2rem;
  right: auto;
}

.destination-cultures_slides .swiper-button-next {
  right: 2rem;
  left: auto;
}

.destination-cultures_img {
  height: 56.75rem;
  width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(
    180deg,
    #c3c3c3 52.48%,
    rgba(163, 163, 163, 0.79) 59.64%,
    rgba(128, 128, 128, 0.35) 67.4%,
    rgba(93, 93, 93, 0) 82.32%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}

.destination-cultures_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 82.25rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  z-index: 1;
}

.destination-cultures_left {
  width: 24.9375rem;
  flex-shrink: 0;
}

.destination-cultures_title {
  color: #630f3f;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.8125rem;
  letter-spacing: 0.125rem;
  white-space: pre-line;
}

.destination-cultures_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 11.125rem;
  width: 56.0625rem;
  flex-shrink: 0;
}

.destination-cultures_description {
  color: #2e2e2e;
  font-family: "Open Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.destination-cultures_link.compound-avian-button {
  width: 15.0625rem;
}

@media (max-width: 639px) {
  .destination-cultures {
    height: auto;
    background: linear-gradient(180deg, #fffbf4 13.7%, #eee9e5 100.66%);
  }

  .destination-cultures_slides .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: auto !important;
  }

  .destination-cultures_slides .swiper-pagination {
    padding: 0 1.25rem;
    width: 100%;
    bottom: 1.5rem;
    text-align: center;
  }

  .destination-cultures_slides .swiper-button-prev,
  .destination-cultures_slides .swiper-button-next {
    display: none;
  }

  .destination-cultures_img-wrapper {
    position: relative;
    height: 23rem;
    mask-image: linear-gradient(
      181deg,
      #f9f7f5 18.37%,
      rgba(249, 247, 245, 0.98) 48.3%,
      rgba(249, 247, 245, 0.67) 69.16%,
      rgba(249, 247, 245, 0) 81.61%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-type: luminance;
  }

  .destination-cultures_img {
    position: relative;
    height: 23rem;
    mask-image: linear-gradient(
      181deg,
      #f9f7f5 18.37%,
      rgba(249, 247, 245, 0.98) 48.3%,
      rgba(249, 247, 245, 0.67) 69.16%,
      rgba(249, 247, 245, 0) 81.61%
    );
    mask-type: luminance;
  }

  .destination-cultures_content {
    width: 100%;
    position: relative;
    max-width: 100%;
    flex-direction: column;
    padding: 2rem 1rem 1.5rem 1rem;
  }

  .destination-cultures_left {
    width: 100%;
  }

  .destination-cultures_title {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.09rem;
    margin-bottom: 1rem;
    white-space: normal;
  }

  .destination-cultures_right {
    width: 100%;
    min-height: auto;
  }

  .destination-cultures_description {
    color: rgba(46, 46, 46, 0.8);
    font-size: 0.875rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
    -webkit-line-clamp: none;
  }

  .destination-cultures_link.compound-avian-button {
    width: fit-content;
  }
}
