.enu-agence-section .container {
  max-width: 81.25rem;
  margin: 0 auto;
}
.enu-agence-section_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.48rem;
}
.enu-agence-section_subtitle {
  color: var(--text-body-60, rgba(46, 46, 46, 0.6));
  text-align: center;

  /* PC/SUB/14M */
  font-family: Matter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 1.05rem */
  display: block;
  text-align: center;
}
.enu-agence-section_title {
  color: var(--Text-Body-T1, #2e2e2e);
  text-align: center;
  font-family: "Clash Grotesk";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 3.3rem */
  width: 45.25rem;
  margin: 1rem auto 2.26rem;
}
.enu-agence-section_title strong {
  color: var(--Test, #2e871c);
  font-family: Fraunces;
  font-size: 2.625rem;
}
.enu-agence-section_galler-col img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.5rem;
  margin-bottom: 1.48rem;
}
.enu-agence-section_gallery {
    height: 55.9375rem;
    overflow-y: hidden;
}