.component-banner {
  width: 100%;
  height: 38.375rem;
  position: relative;
}
.component-banner .component-banner__thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}
.component-banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 36.3125rem;
  background: linear-gradient(180deg, rgba(18, 39, 24, 0) 24.69%, #122718 100%);
  z-index: 2;
}
.component-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14.75rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}
.component-banner .component-banner__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #fff;
  text-align: center;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component-banner .component-banner__content .component-banner__subtitle {
  color: var(--text-body-80-invert, rgba(255, 255, 255, 0.8));
  text-align: center;

  /* PC/H5/22 - M */
  font-family: Matter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.0625rem */
}
.component-banner .component-banner__content .component-banner__title {
  text-align: center;

  /* PC/H1/72SM */
  font-family: Fraunces;
  font-size: 4.5rem;
  font-style: italic;
  font-weight: 600;
  line-height: 120%; /* 5.4rem */
  background: var(
    --H1,
    linear-gradient(180deg, #fff 50.63%, rgba(255, 255, 255, 0.19) 106.13%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.component-banner .component-banner__content .component-banner__down-icon {
  width: 1.0625rem;
  height: 1.625rem;
  object-fit: contain;
  animation: bounce 1s infinite;
  cursor: pointer;
  user-select: none;
}
.component-banner .component-banner__content .component-banner__down-icon {
  margin-top: 2rem;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .component-banner {
    height: 28.125rem;
  }
  .component-banner::before {
    height: 28.125rem;
    background: linear-gradient(
      180deg,
      rgba(18, 39, 24, 0) 24.69%,
      #122718 100%
    );
  }
  .component-banner::after {
    height: 14.75rem;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .component-banner__content {
    width: 100%;
  }
  .component-banner .component-banner__content .component-banner__subtitle {
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    font-family: Matter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .component-banner .component-banner__content .component-banner__title {
    text-align: center;

    /* MB/H1 - Serif */
    font-family: Fraunces;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 600;
    line-height: 120%; /* 2.1rem */
  }
}
