.outstanding__figures {
  margin-top: 5.3rem;
  width: 100%;
  position: relative;
  margin-bottom: 4.87rem;
}

.outstanding__figures__container {
  border-radius: 0.25rem;
  background: #e7e1df;
  height: 23.5rem;
  display: flex;
  align-items: center;
}

.outstanding__figures__content {
  width: 100%;
  height: fit-content;
  padding: 0 4.5rem;
}

.outstanding__figures__title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.outstanding__figures__title__text {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0625rem;
  font-family: "BHN TAN - MEMORIES";
  color: #2e2e2e;
  width: 29.75rem;
  flex-shrink: 0;
}

.outstanding__figures__title__items {
  width: fit-content;
  display: flex;
  align-items: center;
}

.outstanding__figures__title__content {
  display: flex;
  flex-direction: column;
}

.outstanding__figures__stars {
  display: flex;
  align-items: center;
  margin-bottom: 0.375rem;
}

.outstanding__figures__icon_star {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  object-fit: cover;
}

.outstanding__figures__icon_star:last-child {
  margin-right: 0;
}

.outstanding__figures__title__content__text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.00875rem;
  /*text-decoration-line: underline;*/
  /*text-decoration-style: solid;*/
  /*text-decoration-skip-ink: none;*/
  /*text-decoration-thickness: auto;*/
  /*text-underline-offset: auto;*/
  color: rgba(46, 46, 46, 0.8);
  font-family: "Open Sans";
}

.outstanding__figures__image__items {
  display: flex;
  margin-left: 0.81rem;
}

.outstanding__figures__image__item {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 1.25rem;
  border: 2px solid #fff;
  margin-left: -0.5rem;
}

.outstanding__figures__image__item:first-child {
  margin-left: 0;
}

.outstanding__figures__content__items {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.6rem;
  padding-left: 0.25rem;
}

.outstanding__figures__content__item {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.outstanding__figures__content__item {
  display: flex;
  flex-direction: column;
}

.outstanding__figures__content__item__title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  font-family: "Open Sans";
  color: #2e2e2e;
  opacity: 0.4;
}

.outstanding__figures__content__item__value__backup,
.outstanding__figures__content__item__value {
  color: #630f3f;
  font-family: "BHN TAN - MEMORIES";
  font-size: 3.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.315rem;
  margin-top: 1.35rem;
}

.outstanding__figures__content__item__value__backup {
  opacity: 0;
}

.outstanding__figures__content__item__value {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 639.9px) {
  .outstanding__figures {
    margin-top: 2rem;
    margin-bottom: 1.4375rem;
  }

  .outstanding__figures__container {
    height: fit-content;
  }

  .outstanding__figures__content {
    padding: 1.25rem 1rem;
  }

  .outstanding__figures__title__wrapper {
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .outstanding__figures__title__text {
    width: 100%;
  }

  .outstanding__figures__title__items {
    margin-top: 0.75rem;
  }

  .outstanding__figures__title__text {
    color: #2e2e2e;
    font-family: "BHN TAN - MEMORIES";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.04375rem;
  }
  
  .outstanding__figures__icon_star {
    width: 0.79131rem;
    height: 0.79131rem;
  }

  .outstanding__figures__title__content__text {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.00625rem;
  }

  .outstanding__figures__image__items {
    margin-left: 0.87rem;
  }

  .outstanding__figures__image__item {
    width: 2.027rem;
    height: 2.027rem;
  }

  .outstanding__figures__content__items {
    margin-top: 2.04rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem 1.8rem;
  }

  .outstanding__figures__content__item__title {
    font-family: "Trip Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .outstanding__figures__content__item__value__backup,
  .outstanding__figures__content__item__value {
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.1575rem;
    margin-top: 0.7rem;
  }
}
