.about__media {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.about__media.active {
  opacity: 0;
  pointer-events: none;
}

.about__media__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__media__picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.about__media__picture.active {
  transition: all 0.5s linear;
  opacity: 0;
  pointer-events: none;
}

.about__media__picture .about__media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__media__container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear;
  cursor: pointer;
}

.about__media__container.active {
  opacity: 0;
  pointer-events: none;
}

.about__media__button {
  width: 6.25rem;
  height: 6.25rem;
  border: 1.37px solid var(--colors-White-500, rgba(255, 255, 255, 0.5));
  background: linear-gradient(
    90deg,
    rgba(255, 151, 59, 0.06) 0%,
    rgba(52, 255, 81, 0.09) 22.53%,
    rgba(151, 255, 165, 0.03) 67.99%,
    rgba(255, 151, 59, 0.04) 87.11%
  );
  box-shadow: 0 5.479px 32.877px 0 rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(2.7397260665893555px);
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.5s linear;
}

.about__media__button svg {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  width: 1.28425rem;
  height: auto;
}

@media (min-width: 640px) and (max-width: 1025px) {
  .about__media {
    height: fit-content;
  }

  .about__media__video {
    height: 52rem;
  }
}

@media screen and (max-width: 639.9px) {
}
