.starts-with {
    background: #fff;
    position: relative;
    padding-bottom: 5.44rem;
}
.starts-with__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 81.4rem;
    margin: 0 auto;
    position: relative;
}

.starts-with__header {
    text-align: center;
    margin-bottom: 3.5rem;
}

.starts-with__title {
    text-align: center;
    margin-bottom: 2rem;
}
.starts-with__title strong {
    color: #468e38;
}
.starts-with__tag {
    margin-bottom: 0;
    color: var(--Foundation-Green-Darker, #183d0f);
    border-radius: 4.5rem;
    background: rgba(33, 83, 56, 0.1);
    padding: 0 1.25rem;
    display: inline-flex;
    height: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starts-with__body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3.25rem;
    row-gap: 4rem;
    margin-bottom: 3.5rem;
}

.starts-with__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starts-with__item-line {
    position: absolute;
    top: 50%;
    right: -1.62rem;
    transform: translateY(-50%, -50%);
    width: 1px;
    height: 3.625rem;
    opacity: 0.24;
    background: #788b01;
}
.starts-with__item-icon {
    height: 4rem;
    width: 4rem;
    margin-bottom: 0.75rem;
}
.starts-with__item-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.starts-with__item-title {
    color: var(--Text-Body-T1, #2e2e2e);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
    margin-bottom: 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.starts-with__link {
    color: var(--Text-Title-White, #fff);

    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 2.8125rem;
    background: var(--Test, #2e871c);
    transition: color 0.3s ease, background 0.3s ease;
}

.starts-with__overlay {
    position: absolute;
    height: auto;
}

.starts-with__overlay--1 {
    left: 0;
    top: 1rem;
    width: 30rem;
}
.starts-with__overlay--2 {
    top: 12.12rem;
    right: 0;
    width: 28rem;
}

.starts-with__title h2 {
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .starts-with__link:hover {
        background: #5e9c58;
    }
}

@media (max-width: 639.98px) {
    .starts-with {
        z-index: 1;
        padding: 1rem 1rem 1.66rem;
    }
    .starts-with__container {
        max-width: 100%;
    }
    .starts-with__body {
        grid-template-columns: 1fr;
        width: 100%;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
    .starts-with__overlay {
        display: none;
    }
    .starts-with__item {
        position: relative;
        padding: 1.00613rem 1.50925rem;
        align-items: flex-start;
        border-radius: 0.62694rem;
        background: #fff;
        overflow: hidden;

        /* shadow */
        box-shadow: 2px 4px 20px 2px rgba(205, 204, 218, 0.4);
    }
    .starts-with__item-title {
        text-align: left;
        color: #1b412c;
        font-size: 1.13194rem;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 1.81106rem */
        letter-spacing: 0.03144rem;
    }
    .starts-with__item-icon {
        width: 2.51538rem;
        height: 2.51538rem;
    }
    .starts-with__item-bg {
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        position: absolute;
    }
    .starts-with__link,
    .starts-with__footer {
        text-align: center;
        width: 100%;
        padding: 1.00613rem 1.50925rem;
        border-radius: 2.82981rem;
    }
    .starts-with__footer {
        padding: 0;
    }
    .starts-with__title br {
        display: none;
    }
    .starts-with__tag {
        border-radius: 4.52769rem;
        padding: 0.62888rem 1.25769rem;
        font-size: 1.00613rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 1.20738rem */
    }
    .starts-with__header {
        margin-bottom: 2rem;
    }
}
