.list-tours {
    padding-top: 5rem;
    z-index: 1;
}

.list-tours__header {
    max-width: 81.3rem;
    margin: 0 auto;
    text-align: center;
}

.list-tours__body {
    max-width: 81.3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.11406rem;
    row-gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.list-tours__title h2 {
    margin-bottom: 0.62rem;
}

.list-tours__description {
    color: var(--text-body-75, rgba(46, 46, 46, 0.75));
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    margin-bottom: 2.5rem;
}

.list-tours__nav {
    display: flex;
    max-width: 81.3rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.list-tours__dropdown {
    --font-family: "Matter";
    --dropdown-trigger-padding: 0.75rem 0.5rem 0.75rem 1.125rem;
    --arrow-icon-size: 1.5rem;
    --dropdown-menu-margin: 0.25rem 0 0 0;
    --dropdown-trigger-shadow: 0px -24px 75.4px 3px rgba(251, 251, 251, 0.25);
    --dropdown-trigger-border: none;
    --selected-content-font-size: 0.875rem;
    --selected-content-font-weight: 500;
    --selected-content-line-height: 1.5rem;
    --selected-content-color: var(--Text-Body-T1, #2e2e2e);
    --dropdown-menu-padding: 0;
    --option-padding: 0.75rem 1rem 0.75rem 1.25rem;
    --option-content-font-size: 0.875rem;
    --option-content-font-weight: 500;
    --option-content-line-height: 140%;
    --option-content-color: var(--Body-text, #333);
    min-width: 16.4rem;
    width: auto;
    margin-right: 0.75rem;
}

span[slot="placeholder"] {
    color: var(--selected-content-color, #2e2e2e);
    font-family: var(--font-family);
    font-size: var(--selected-content-font-size, 1rem);
    font-style: var(--selected-content-font-style, normal);
    font-weight: var(--selected-content-font-weight, 400);
    line-height: var(--selected-content-line-height, 1.5);
}

.list-tours__search-container {
    position: relative;
    width: 19.625rem;
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.list-tours__search-icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.list-tours__search {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    color: rgba(46, 46, 46, 1);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
    background-color: transparent;
}

.list-tours__search::placeholder {
    color: var(--text-body-40, rgba(46, 46, 46, 0.4));
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.3125rem */
}

.list-tours__dropdown-order {
    --font-family: "Matter";
    --dropdown-trigger-padding: 0.75rem 0.5rem 0.75rem 1.125rem;
    --arrow-icon-size: 1.5rem;
    --dropdown-menu-margin: 0.25rem 0 0 0;
    --dropdown-trigger-shadow: 0px -24px 75.4px 3px rgba(251, 251, 251, 0.25);
    --dropdown-trigger-border: none;
    --selected-content-font-size: 0.875rem;
    --selected-content-font-weight: 500;
    --selected-content-line-height: 1.5rem;
    --selected-content-color: var(--Text-Body-T1, #2e2e2e);
    --dropdown-menu-padding: 0;
    --option-padding: 0.75rem 1rem 0.75rem 1.25rem;
    --option-content-font-size: 0.875rem;
    --option-content-font-weight: 500;
    --option-content-line-height: 140%;
    --option-content-color: var(--Body-text, #333);
    min-width: 11.3125rem;
    width: auto;
}

.list-tours__footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-tours__load-more {
    min-width: 13.375rem;
    padding: 0.75rem 1.5rem;
    border-radius: 2.8125rem;
    background: var(--Test, #2e871c);
    border: none;

    color: var(--Text-Title-White, #fff);
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%; /* 1.5rem */
    transition: background 0.3s ease-in-out;
}

.pagination {
    display: none;
    margin: 0;
}

.list-tours__filter-overlay {
    display: none;
}

.list-tours__filter-popup {
    display: none;
}

@media (min-width: 1024px) {
    .list-tours__load-more:hover {
        background: #5e9c58;
    }
}

@media (max-width: 639.98px) {
    .list-tours__load-more,
    .list-tours__header br {
        display: none;
    }

    .list-tours__nav--mb {
        display: flex !important;
        margin-bottom: 1.5rem;
    }

    .list-tours__nav--mb__filter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 0.75rem;
        background: #fff;
    }

    .list-tours__search-container {
        flex: 1;
        width: auto;
        margin-right: 0;
        margin-left: 0.5rem;
    }

    .pagination {
        display: flex;
    }
    .list-tours {
        padding: 2.5rem 1rem;
    }
    .list-tours__nav {
        display: none;
    }
    .list-tours__body {
        grid-template-columns: 1fr;
        margin-bottom: 2.5rem;
    }
    .list-tours__title h2 {
        margin-bottom: 0.75rem;
    }
    .list-tours__description {
        margin-bottom: 1.5rem;
    }
    .list-tours__filter-popup {
        display: block;
        position: fixed;
        height: 39.1875rem;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 1.25rem 1.25rem 0rem 0rem;
        background: #fff;
        z-index: 9999;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    .list-tours__filter-header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem 0.75rem 1.5rem;
        border-radius: 1.5rem 1.5rem 0rem 0rem;
        /* Pop up mb */
        box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.08);
        height: 3.5625rem;
        justify-content: space-between;
    }

    .list-tours__filter-header-line {
        display: block;
        height: 2px;
        width: 3rem;
        background: #8f8f8f;
        border-radius: 99px;
    }

    .list-tours__filter-header-close {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        top: 1.63rem;
        left: 1.5rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
    }

    .list-tours__filter-header-close img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .list-tours__filter-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9998;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .list-tours__filter-popup.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .list-tours__filter-popup.active + .list-tours__filter-overlay {
        opacity: 1;
        visibility: visible;
    }

    .list-tours__filter-body {
        display: flex;
        padding: 1.5rem 1.25rem 0.5rem 1.25rem;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        padding-bottom: 12rem;
    }
    .list-tours__filter-box {
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid #dcdfe4;
    }
    .list-tours__filter-label {
        display: block;
        color: var(--Text-Title-1, #07060b);
        font-size: 1rem;
        font-weight: 500;
        line-height: 130%; /* 1.3rem */
        margin-bottom: 0.75rem;
    }
    .list-tours__filter-item {
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        margin-right: 0.25rem;
        position: relative;

        color: var(--text-body-60, rgba(46, 46, 46, 0.6));
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */
        border-radius: 1.5rem;
        overflow: hidden;
        border: 1.4px solid transparent;
    }
    .list-tours__filter-item img {
        position: absolute;
        top: -1px;
        right: 0;
        width: 1.1875rem;
        height: auto;
        visibility: hidden;
        opacity: 0;
    }
    input[type="checkbox"]:checked + .list-tours__filter-item {
        color: var(--Foundation-Green-green-900, #032010);
        font-weight: 500;
        border-radius: 1.5rem;
        border-color: rgba(13, 52, 34, 0.53);
        background: #edf7e8;
    }
    input[type="checkbox"]:checked + .list-tours__filter-item img {
        visibility: visible;
        opacity: 1;
    }
    .list-tours__filter-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.75rem 1.25rem;
        background: #fff;
        box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
    }

    .list-tours__filter-footer button {
        padding: 0.75rem 1.5rem;
        border-radius: 2.8125rem;
        border-color: transparent;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 1.3125rem */
    }
    .list-tours__filter-footer-apply {
        margin-bottom: 0.62rem;
        color: var(--Text-Title-White, #fff);
        background: var(--Test, #2e871c);
    }
    .list-tours__filter-footer-cancel {
        background: transparent;
        color: var(--Text-Body-T1, #2e2e2e);
    }
    .list-tours__filter-box--sort {
        padding-bottom: 0;
        margin-bottom: 0;
        border-color: transparent;
    }
    .list-tours__filter-box--sort .list-tours__filter-items {
        display: flex;
        flex-direction: column;
    }

    .list-tours__filter-box--sort .list-tours__filter-item {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .list-tours__filter-box--sort .list-tours__filter-item span {
        color: var(--Text-Body-T1, #2e2e2e);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */
    }
    .list-tours__filter-item-radio {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.5rem;
        position: relative;
    }
    .list-tours__filter-item-radio::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 1.4px solid #757679;
    }
    .list-tours__filter-item-radio::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: #032010;
        opacity: 0;
    }

    input[type="radio"]:checked + .list-tours__filter-item-radio::after {
        opacity: 1;
    }

    input[type="radio"]:checked + .list-tours__filter-item-radio + span {
        color: var(--text-body-100, #032010);
        font-weight: 500;
    }
}
