.subscribe-section {
    width: 100%;
    padding: 4rem 0;
    align-self: stretch;
    background: #71393C;
}

.subscribe-background--mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subscribe-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.subscribe-left {
    position: relative;
    display: flex;
    width: 41.875rem;
    align-items: center;
    gap: 0.75rem;
    margin-right: 2rem;

    .subscribe-left__title {
        display: flex;
        padding: 0 0.75rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        .subscribe-left__title--mobile {
            display: none;
        }

        h3 {
            color: #FFF;
            text-align: center;

            /* PC/H3/30 - italic */
            font-family: "BHN TAN - MEMORIES";
            font-size: 1.875rem;
            font-style: italic;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.125rem;
        }
    }

    .subscribe-left__desc {
        width: 29.5rem;
        display: flex;
        padding: 0 0.3125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        flex: 1 0 0;

        p {
            color: rgba(255, 255, 255, 0.80);
            font-family: "Open Sans";
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            /* 1.5rem */
            letter-spacing: -0.005rem;
        }
    }

}

.subscribe-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;

    .subscribe-right__input {
        display: inline-flex;
        height: 3.125rem;
        width: 20.875rem;
        border-radius: 0.25rem;
        background: rgba(255, 255, 255, 0.15);
        padding: 0.625rem 1.125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        color: #FFF;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        /* 1.4rem */
    }

    .subscribe-right__input::placeholder {
        color: #fff;
        opacity: 0.7;
    }

    .subscribe-right__btn {
        display: flex;
        width: 8.75rem;
        height: 3.125rem;
        padding: 1.25rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
        background: white;
        border-radius: 0.25rem;
        margin-left: 1rem;
        flex-shrink: 0;
    }

    .subscribe-right__btn span {
        color: #2E2E2E;
        text-align: center;
        font-family: "Open Sans";
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        /* 1.1375rem */
        text-transform: uppercase;
    }
}

.screen-reader-response, .wpcf7-response-output {
    display: none;
}

.subscribe-form {
    display: flex;
    position: relative;
}

.wpcf7-form-control-wrap {
    display: flex;
    flex-direction: column;
}

.wpcf7-not-valid-tip {
    display: inline-block;
    color: #D83F00;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 0.5rem;
}

.wpcf7-form.sent .wpcf7-response-output {
    display: block;
    color: #28a745;
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 0.5rem;
}

form.submitting button[type="submit"] {
	opacity: 0.5;
	cursor: not-allowed;
}

/* Autofill */
.subscribe-right__input:-webkit-autofill,
.subscribe-right__input:-webkit-autofill:hover,
.subscribe-right__input:-webkit-autofill:focus,
.subscribe-right__input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff;
    /* màu chữ */
    caret-color: #fff;
    /* màu con trỏ */
    transition: background-color 9999s ease-in-out 0s;
}

@media (max-width: 639.98px) {
    .subscribe-section {
        display: flex;
        width: 23.4375rem;
        padding: 2rem 1.25rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.375rem;
    }

    .subscribe-background--mobile {
        display: block;
    }

    .subscribe-container {
        flex-direction: column;
    }

    .subscribe-left {
        width: 100%;
        padding: 0 0.25rem;
        justify-content: center;
        gap: 0.625rem;
        margin: 0;

        .subscribe-left__title {

            .subscribe-left__title--desktop {
                display: none;
            }

            .subscribe-left__title--mobile {
                display: block;
                margin-bottom: 1.375rem;
            }

            h3 {
                color: #FFF;
                font-family: "BHN TAN - MEMORIES";
                text-align: start;
                font-size: 1.375rem;
                font-style: italic;
                font-weight: 400;
                line-height: 140%;
                /* 1.925rem */
                letter-spacing: 0.0825rem;
            }
        }


        .subscribe-left__desc {
            display: none;
        }
    }

    .subscribe-right {
        position: relative;
        justify-content: space-between;
        width: 100%;
        /* height: 2.5rem; */

        .subscribe-right__input {
            display: inline-flex;
            height: 2.5rem;
            padding: 0.625rem 1.125rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            /* width: 10.5rem; */
            width: 100%;
        }

        .subscribe-right__btn {
            position: absolute;
            right: 0.15rem;
            top: 0.15rem;
            display: flex;
            width: 6.875rem;
            height: 2.1875rem;
            padding: 0.9rem 0.875rem 0.9rem 1.125rem;
            align-items: center;
            margin: 0;

            span {
                font-size: 0.75rem;
                font-family: "Trip Sans";
            }
        }

        .wpcf7-form-control-wrap {
            width: 100%;
        }
    }
}