.socials__container--top {
  margin: 2.87rem 0 2rem 0;
}

.socials {
  display: flex;
  align-items: flex-start;
}

.socials__item {
  width: 3.125rem;
  height: 3.125rem;
}

.socials__link {
  width: 3.125rem;
  height: 3.125rem;
}

.socials__link img {
  width: 100%;
  height: 100%;
}

.socials__item:not(:last-child) {
  margin-right: 0.75rem;
}

@media (max-width: 639.98px) {
  .socials__container--top {
    margin: 0 0 1.5rem 0;
  }

  .socials__item:not(:last-child) {
    margin-right: 0.625rem;
  }

  .socials__item {
    width: 2rem;
    height: 2rem;
  }

  .socials__link {
    width: 2rem;
    height: 2rem;
  }
}