.pourquoi-nous-choisir h2 {
    color: var(--Text-Body-T1, #2e2e2e);
    text-align: center;
    font-family: "Clash Grotesk";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 2.4rem */
    margin-bottom: 2.5rem;
  }
  .pourquoi-nous-choisir_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pourquoi-nous-choisir-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pourquoi-nous-choisir-item .pourquoi-nous-choisir__icon img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  .pourquoi-nous-choisir-item__icon {
      margin-bottom: 0.75rem;
  }
  .pourquoi-nous-choisir-item__content {
    text-align: center;
    color: var(--Text-Body-T1, #2e2e2e);
    text-align: center;
    font-family: Matter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 1.875rem */
  }
  @media (max-width: 768px) {
  .pourquoi-nous-choisir {
    padding: 0 1rem;
  }
	  	.pourquoi-nous-choisir_list {
		display: grid
;
    grid-template-columns: repeat(3, 1fr);
	}
  .pourquoi-nous-choisir-item {
    width: auto;
  }
  .pourquoi-nous-choisir h2 {
    font-size: 1.25rem;
	    margin-bottom:1.28rem;
  }
  .pourquoi-nous-choisir-item__icon img {
    width: 2.0505rem;
    height: 2.0505rem;
  }
  .pourquoi-nous-choisir-item__content{
    color: var(--Text-Body-T1, #2E2E2E);
text-align: center;
font-family: Matter;
font-size: 0.7rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.125rem */
  }
}
