.tour-location-popup {
    position: fixed;
    inset: 0;
    z-index: 99999;
    pointer-events: none;
}

.tour-location-popup__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 280ms ease;
}

.tour-location-popup__panel {
    position: absolute;
    top: 0;
    right: -1px;
    height: 100vh;
    width: min(35.44rem, 100vw);
    background: #fff;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 320ms ease;
}

.tour-location-popup.is-open {
    pointer-events: auto;
}
.tour-location-popup.is-open .tour-location-popup__overlay {
    opacity: 1;
}
.tour-location-popup.is-open .tour-location-popup__panel {
    transform: translateX(0%);
    right: 0;
}

.tour-location-popup.is-closing {
    pointer-events: none;
}
.tour-location-popup.is-closing .tour-location-popup__overlay {
    opacity: 0;
}
.tour-location-popup.is-closing .tour-location-popup__panel {
    right: -1px;
    transform: translateX(100%);
}

.tour-location-popup__close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
}

.tour-location-popup__close img {
    width: 100%;
    height: 100%;
    display: inline-block;
    pointer-events: none;
}

.tour-location-popup__hero {
    width: 100%;
    height: 19rem;
    position: relative;
}

.tour-location-popup__hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tour-location-popup__hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 71.77%,
        rgba(0, 0, 0, 0.8) 87.97%
    );
}

.tour-location-popup__thumbs {
    width: 100%;
    height: 3.3125rem;
    padding: 0.35rem 0.25rem 0.35rem 0.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tour-location-popup__thumbs-track {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;
    user-select: none;
}

.tour-location-popup__thumbs-track::-webkit-scrollbar {
    display: none;
}

.tour-location-popup__thumb {
    width: 4.78rem;
    height: 2.61rem;
    flex: 0 0 auto;
    overflow: hidden;
    cursor: pointer;
    /* opacity: 0.85; */
}

.tour-location-popup__thumb:not(:last-child) {
    margin-right: 0.25rem;
}

.tour-location-popup__thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour-location-popup__thumb.is-active {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.6);
}

.tour-location-popup__body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 19rem);
}

.tour-location-popup__title {
    color: var(--Text-tm, var(--Tm, #630f3f));
    font-family: var(--Title---Italic, "BHN TAN - MEMORIES");
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.0625rem;
}

.tour-location-popup__desc {
    margin-top: 1.5rem;
    color: var(--Text-Body-80, rgba(46, 46, 46, 0.8));
    font-family: var(--Body---Capture---Button, "Open Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.tour-location-popup__cta {
    display: flex;
    height: 3.125rem;
    padding: 1.25rem 0.5rem;
    justify-content: center;
    align-items: center;
    color: var(--trng, #fff);
    text-align: center;
    font-family: var(--Body---Capture---Button, "Open Sans");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    border-radius: 0.25rem;
    background: var(--Tm, #630f3f);
    position: relative;
    overflow: hidden;
}

.tour-location-popup__cta span {
    position: relative;
    z-index: 3;
}

.tour-location-popup__cta::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 250ms ease;
    background: linear-gradient(
        80deg,
        #f6ec51 -3.88%,
        #630f3f 27.57%,
        #630f3f 70.42%,
        #f6ec51 102.57%
    );
    z-index: 1;
}

.tour-location-popup__cta::after {
    content: "";
    position: absolute;
    bottom: -28.68331rem;
    width: 31.24581rem;
    height: 31.24581rem;
    aspect-ratio: 499.93/499.93;
    background: url("/wp-content/themes/okhub-theme/template-parts/detail-tour-page/assets/icons/d-icon-button.webp")
        no-repeat center / contain;
    z-index: 2;
}

.tour-location-popup__cta:hover::before {
    opacity: 1;
}
