
/* About */
.destination-about {
  height: 56.4375rem;
  overflow: hidden;
  position: relative;
}

.destination-about_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination-about_cards {
  position: absolute;
  top: 3.8125rem;
  left: 50%;
  transform: translateX(-50%);
  height: 43.9375rem;
  width: 100%;
  max-width: 100rem;
}

.destination-about_main-card {
  position: absolute;
  top: 17.44rem;
  left: 24.5rem;
  width: 43.5625rem;
  height: 39rem;
  background: #fae8dc;
  display: flex;
  overflow: hidden;
}

.destination-about_main-card-deco {
  height: 100%;
  width: 10.125rem;
  mix-blend-mode: color-burn;
}

.destination-about_main-card-content {
  padding: 3.8125rem 5.8125rem 2.06rem 1.5rem;
}

.destination-about_main-card-title {
  color: #630f3f;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.7375rem;
  letter-spacing: 0.075rem;
  margin-bottom: 1.375rem;
}

.destination-about_main-card-description {
  color: rgba(46, 46, 46, 0.8);
  font-family: "BHN TAN - MEMORIES";
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.35375rem;
  letter-spacing: 0.0625rem;
  display: -webkit-box;
  line-clamp: 11;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1.375rem;
}

.destination-about_main-card-link.compound-avian-button {
  width: 100%;
}

.destination-about_card-1 {
  position: absolute;
  top: 23.57rem;
  left: 7.03rem;
  width: 23.6875rem;
  transform: rotate(7.115deg);
  background-color: #fffbf4;
  z-index: 1;
}

.destination-about_card-2 {
  position: absolute;
  top: 19.97rem;
  left: 66.71rem;
  width: 22.1875rem;
  background-color: #fffbf4;
  transform: rotate(-8.762deg);
  z-index: 2;
}

.destination-about_card-3 {
  position: absolute;
  top: 46.6575rem;
  left: 64.98rem;
  width: 26.125rem;
  background-color: #fffbf4;
  transform: rotate(9.934deg);
  z-index: 1;
}

.destination-about_card-img-wrapper {
  width: 100%;
  padding: 0.1875rem;
  overflow: hidden;
}

.destination-about_card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.destination-about_card-content {
  padding: 1rem 1.25rem;
}

.destination-about_card-title {
  color: #2e2e2e;
  font-family: "BHN TAN - MEMORIES";
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.3755rem;
}

.destination-about_card-description {
  color: #2e2e2e;
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}

.destination-about_bg-mb {
  display: none;
}

.destination-about_card-mb-container {
  display: none;
}

.destination-about_card-slides {
  display: none;
}



@media (max-width: 639px) {
    
  .destination-about {
    height: 67.25rem;
  }

  .destination-about_cards {
    display: none;
  }

  .destination-about_bg {
    display: none;
  }

  .destination-about_bg-mb {
    position: absolute;
    inset: 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .destination-about_card-mb-container {
    display: block;
    padding: 0 0.9375rem;
    padding-top: 3.5rem;
  }

  .destination-about_card-mb {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fae8dc;
  }

  .destination-about_card-deco-mb {
    width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: color-burn;
  }

  .destination-about_card-mb-content {
    padding: 0.9375rem 1.125rem 1.25rem 1.125rem;
  }

  .destination-about_card-mb-title {
    color: #630f3f;
    font-family: "BHN TAN - MEMORIES";
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: 0.09rem;
    margin-bottom: 0.9375rem;
    white-space: pre-line;
  }

  .destination-about_card-mb-description {
    color: rgba(46, 46, 46, 0.8);
    font-family: "BHN TAN - MEMORIES";
    font-size: 0.625rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6875rem;
    letter-spacing: 0.0625rem;
    margin-bottom: 1.25rem;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;
  }

  .destination-about_card-slides {
    display: block;
    padding: 1.01rem 0 2.62rem;
  }

  .destination-about_card-slide-img-wrapper {
    margin-top: 3.19rem;
    position: relative;
    height: 23rem;
    mask-image: linear-gradient(
      181deg,
      rgba(249, 247, 245, 0.02) 3.84%,
      rgba(249, 247, 245, 0.02) 4.07%,
      rgba(249, 247, 245, 0.7) 23.15%,
      rgba(249, 247, 245, 0.98) 50.4%,
      rgba(249, 247, 245, 0.67) 70.85%,
      rgba(249, 247, 245, 0) 85.15%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-type: luminance;
  }

  .destination-about_card-slide-img {
    position: relative;
    width: 100%;
    height: 23rem;
    mask-image: linear-gradient(
      181deg,
      rgba(249, 247, 245, 0.02) 3.84%,
      rgba(249, 247, 245, 0.02) 4.07%,
      rgba(249, 247, 245, 0.7) 23.15%,
      rgba(249, 247, 245, 0.98) 50.4%,
      rgba(249, 247, 245, 0.67) 70.85%,
      rgba(249, 247, 245, 0) 85.15%
    );
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-type: luminance;
    object-fit: cover;
  }

  .destination-about_card-slide-content {
    position: absolute;
    top: 1.5rem;
    padding: 0 1.25rem;
    z-index: 2;
  }

  .destination-about_card-slide-title {
    color: #fff;
    font-family: "BHN TAN - MEMORIES";
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.575rem;
    letter-spacing: 0.0625rem;
    margin-bottom: 0.625rem;
  }

  .destination-about_card-slide-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Open Sans";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;

  }

  .destination-about_card-slides .swiper-pagination {
    bottom: 5.5rem;
  }
}